<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Normal User Sign Up</title>
  </head>
  <body>
    <h1>This is Normal User Sign Up</h1>
    <form action="/nsingup" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="normalName" /><br /><br />
      <label for="email">Email</label>
      <input type="email" name="email" id="normalEmail" /><br /><br />
      <label for="password">Password</label>
      <input type="password" name="password" id="normalPassword" /><br /><br />
      <input type="submit" value="SignUp" />
    </form>
  </body>
</html>
