<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- <title>Portfolio Details - iPortfolio Bootstrap Template</title> -->
    <meta content="" name="description" />
    <meta content="" name="keywords" />


    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/stylesheets/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/stylesheets/styleadmin.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    

  <body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img src="" alt="" class="img-fluid rounded-circle" />
          <h1 class="text-light"><a href="index.html">Admin name here</a></h1>
          <div class="social-links mt-3 text-center">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="#hero" class="nav-link scrollto active"
                ><i class="fi fi-rr-home"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="#about" class="nav-link scrollto">
                <i class="fi fi-rr-user"></i><span>Profile</span></a
              >
            </li>
            <li>
              <a href="#resume" class="nav-link scrollto"
                ><i class="bx bx-file-blank"></i> <span>Resume</span></a
              >
            </li>

            <li>
              <a href="#services" class="nav-link scrollto"
                ><i class="fi fi-rr-users-alt"></i>
                <span>Normal Users List</span></a
              >
            </li>
            <li>
              <a href="#portfolio" class="nav-link scrollto"
                ><i class="fi fi-rr-apps"></i> <span>Agent Posts List</span></a
              >
            </li>
            <li>
              <a href="#contact" class="nav-link scrollto"
                ><i class="fi fi-rr-users"></i> <span>Agent Users List</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <main id="main">
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">

                <div class="align-items-center">
                  <div class="swiper-slide">
                    <img src="/images/background.jpg" alt="" />
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Post information</h3>
                <ul>
                  <li><strong>Agent</strong>: Aung Aung</li>
                  <li><strong>Place</strong>: Beaches,Pagodas,etc</li>
                  <li><strong>Post date</strong>: 01 March, 2020</li>
                </ul>
              </div>
              <div class="portfolio-description">
                <h2>This is an example of post detail</h2>
                <p>
                  About the post detail here. It means all the information of
                  the place where you go like beach,pagodas ,
                </p>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-outline-dark btn-lg m-4"
                  data-mdb-ripple-color="dark"
                  style="z-index: 1"
                >
                  Update
                </button>

                <button type="button" class="btn btn-danger btn-lg m">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Details Section -->
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/javascripts/isotope.pkgd.min.js"></script>
  <script src="/vendor/typed.js/typed.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/javascripts/mainadmin.js"></script>

  </body>
</html>
