<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <style>
      .divider:after,
      .divider:before {
        content: "";
        flex: 1;
        height: 5px;
        background: #eee;
      }
      .bta1234 {
        background-color: #14bf98;
        border-color: #14bf98;
      }
      .h-custom {
        height: calc(100% - 73px);
      }
      @media (max-width: 450px) {
        .h-custom {
          height: 100%;
        }
      }
      .input-box {
        position: relative;
        padding: 0px 25px 0px 20px;
        padding-top: 7px;
        padding-bottom: 9px;
      }
      .show_hide {
        padding: 10px 10px;
        background-color: #efefef;
        border: 1px solid darkgray;
      }
    </style>

    <title>Admin Sign UP</title>
  </head>
  <body>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="./images/images/undraw_stranded_traveler_pdbw.svg"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form action="/adminSignup" method="post">
              <div
                class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
              ></div>

              <!-- Email input -->

              <div class="form-outline mb-4">
                <label class="form-label" for="adminName">Name</label>
                <input
                  type="text"
                  id="adminName"
                  name="adminName"
                  class="form-control form-control-lg"
                  placeholder="Enter Name"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="adminEmail">Email address</label>
                <input
                  type="email"
                  id="adminEmail"
                  name="adminEmail"
                  class="form-control form-control-lg"
                  placeholder="Enter email address"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="agentPassword">စကားဝှက်</label>
                <div class="input-group" id="show_hide_password">
                  <input
                    class="form-control input-box"
                    type="password"
                    id="adminPassword"
                    name="adminPassword"
                    placeholder="Enter Password"
                    required
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-eye-slash show_hide" aria-hidden="true"></i>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0"></div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="profile-pic">Profile Pic</label
                ><br />

                <input
                  type="file"
                  class=""
                  accept="image/*"
                  name="image"
                  id="image"
                  required
                />
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button
                  type="submit"
                  class="btn btn-dark btn-lg bta1234"
                  style="padding-left: 2.5rem; padding-right: 2.5rem"
                >
                  SignUp
                </button>
                <!-- <p class="small fw-bold mt-2 pt-1 mb-0">
                  <a href="#!" class="link-danger">Register</a>
                </p> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
