<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Normal User Profile by Admin</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/stylesheets/styleadmin.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/nuser-profile.css">

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <style>
      .whole-body{
        background: #5A3F37; 
        background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);
        background: linear-gradient(to right, #2C7744, #5A3F37);
      }
    </style>

    

  <body>
    <!-- <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
     -->
    <i class="fi fi-rr-menu-burger mobile-nav-toggle d-xl-none"></i>


    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">
          <div class="profile">
            <img src="/images/portfolio/portfolio-1.jpg" alt="" class="img-fluid rounded-circle" />
            <h1 class="text-light"><a href="index.html">Admin name here</a></h1>
            <div class="social-links mt-3 text-center">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
  
          <nav id="navbar" class="nav-menu navbar">
            <ul>
              <li>
                <a href="#hero" class="nav-link scrollto  "
                  ><i class="fi fi-rr-home"></i> <span>Home</span></a
                >
              </li>
              <li>
                <a href="#about" class="nav-link scrollto">
                  <i class="fi fi-rr-user"></i><span>Profile</span></a
                >
              </li>
              <li>
                <a href="#resume" class="nav-link scrollto"
                  ><i class="bx bx-file-blank"></i> <span>Resume</span></a
                >
              </li>
  
              <li>
                <a href="#services" class="nav-link scrollto active"
                  ><i class="fi fi-rr-users-alt"></i>
                  <span>Normal Users List</span></a
                >
              </li>
              <li>
                <a href="#portfolio" class="nav-link scrollto"
                  ><i class="fi fi-rr-apps"></i> <span>Agent Posts List</span></a
                >
              </li>
              <li>
                <a href="#contact" class="nav-link scrollto"
                  ><i class="fi fi-rr-users"></i> <span>Agent Users List</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
    </header>

<main id="main" class="whole-body">
      <section id="portfolio-details" class="portfolio-details"   >
        <div class="container ">
          <div class="row gy-4">
            <div class="col-lg-12 ">
              <section class="w-auto pt-4 " >
                <section id="breadcrumbs" class="breadcrumbs" >
                  <div class="container" >
                    <div class="d-flex justify-content-between align-items-center">
                      <h2>Normal User Profiles</h2>
                      <ol>
                        <li><a href="adminpage#portfolio">Home</a></li>
                        <li>Portfoio Details</li>
                      </ol>
                    </div>
                  </div>
                </section>
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                      <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                          <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="/images/bagan.jpg"
                              alt="Avatar" class="img-fluid my-5 rounded-circle" style="width: 130px; height: 130px;" />
                            <h5>Normal User Name</h5>
                            <!-- <p>Web Designer</p> -->
                            <i class="far fa-edit mb-5"></i>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body p-4">
                              <h6>Information</h6>
                              <hr class="mt-0 mb-4">
                              <div class="row pt-1">
                                <div class="col-6 mb-3">
                                  <h6>Email</h6>
                                  <p class="text-muted">info@example.com</p>
                                </div>
                                <div class="col-6 mb-3">
                                  <h6>Phone</h6>
                                  <p class="text-muted">123 456 789</p>
                                </div>
                              </div>
                              <h6>Projects</h6>
                              <hr class="mt-0 mb-4">
                              <div class="row pt-1">
                                <div class="col-6 mb-3">
                                  <h6>Recent</h6>
                                  <p class="text-muted">Lorem ipsum</p>
                                </div>
                                <div class="col-6 mb-3">
                                  <h6>Most Viewed</h6>
                                  <p class="text-muted">Dolor sit amet</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-start">
                                <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </main>

     
   
    
    <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/javascripts/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/typed.js/typed.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/javascripts/mainadmin.js"></script>

  </body>
</html>
