<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />

    <style>
      .divider:after,
      .divider:before {
        content: "";
        flex: 1;
        height: 5px;
        background: #eee;
      }
      .bta1234 {
        background-color: #14bf98;
        border-color: #14bf98;
      }

      .h-custom {
        height: calc(100% - 73px);
      }
      @media (max-width: 450px) {
        .h-custom {
          height: 100%;
        }
      }
    </style>

    <title>Admin Login</title>
  </head>
  <body>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="./images/adminLOgin.svg"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form action="/adminLogin" method="post">
              <div
                class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
              ></div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="adminEmail">Email address</label>
                <input
                  type="email"
                  id="adminEmail"
                  name="adminEmail"
                  class="form-control form-control-lg"
                  placeholder="Enter email address"
                />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Password</label>
                <input
                  type="password"
                  id="adminPassword"
                  name="adminPassword"
                  class="form-control form-control-lg"
                  placeholder="Enter password"
                />
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3"
                  />
                  <label class="form-check-label" for="form2Example3">
                    Remember me
                  </label>
                </div>
                <a href="#!" class="text-body">Forgot password?</a>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button
                  type="submit"
                  class="btn btn-dark btn-lg bta1234"
                  style="padding-left: 2.5rem; padding-right: 2.5rem"
                >
                  Login
                </button>
                <p class="small fw-bold mt-2 pt-1 mb-0">
                  <a href="/adminSignup" class="link-danger">Register</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
