<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Post Details</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <!-- <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" /> -->

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/template.css" />
  </head>

  <body>
    <main id="main">
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details >
        <div class="container rounded">
          <div class="row gy-4 ">
            <div class="col-lg-8 ">
              <div class="portfolio-details-slider swiper ">
                <div class="align-items-center rounded">
                  <div class="swiper-slide rounded ">
                    <img src="/images/background.jpg" alt="" />
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Post information</h3>
                <ul>
                  <li><strong>Agent</strong>: Aung Aung</li>
                  <li><strong>Place</strong>: Beaches,Pagodas,etc</li>
                  <li><strong>Phone Number</strong>:0978965424</li>

                  <li><strong>Post date</strong>: 01 March, 2020</li>
                </ul>
              </div>
              <div class="portfolio-description">
                <h2>This is an example of post detail</h2>
                <p>
                  About the post detail here. It means all the information of
                  the place where you go like beach,pagodas ,
                </p>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-outline-dark btn-lg m-4"
                  data-mdb-ripple-color="dark"
                  style="z-index: 1"
                >
                  Update
                </button>

                <button type="button" class="btn btn-danger btn-lg m">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- End Portfolio Details Section -->
    </main>

    <!-- End #main -->

    <div id="preloader"></div>
    <!-- <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a> -->

    <script src="/javascripts/main.js"></script>
  </body>
</html>
