<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>agent post list</title>
    <link rel="stylesheet" href="/stylesheets/template.css" />
    <link rel="stylesheet" href="/stylesheets/agent-post-list.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <style>
      body {
        background: #5a3f37;
        background: -webkit-linear-gradient(to right, #2c7744, #5a3f37);
        background: linear-gradient(to right, #2c7744, #5a3f37);
      }
    </style>
  </head>
  <body>
    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="agentpage" class="nav-link scrollto"
              ><i class="fi fi-rr-user"></i> <span>Home</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </header>
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>ပို့စ်များ</h2>
          <p>အချက်အလက်များကိုအသေးစိတ် ကြည့်ရှုရန်</p>
        </div>

        <div class="row">
          <div
            class="col-lg-12 d-flex justify-content-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">အားလုံး</li>
              <li data-filter=".filter-beach">ကမ်းခြေခရီးစဉ်များ</li>
              <li data-filter=".filter-pagoda">ဘုရားဖူးခရီးစဉ်များ</li>
              <li data-filter=".filter-hotel">ဟိုတယ်များ</li>
            </ul>
          </div>
        </div>

        <div
          class="row portfolio-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="col-lg-4 col-md-6 portfolio-item filter-pagoda">
            <div class="portfolio-wrap">
              <img src="" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <a href="/users/adetail" class="portfolio-details-lightbox"
                  ><h4></h4
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  </body>
</html>
