<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../stylesheets/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/template.css" />
  </head>

  <body>
    <div
      style="
        background-image: url('/images/agent.jpg');

        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <!-- ======= Mobile nav toggle button ======= -->
      <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->

      <i class="mobile-nav-toggle d-lg-none fi fi-rr-menu-burger"></i>

      <!-- ======= Header ======= -->
      <header id="header" class="d-flex flex-column justify-content-center">
        <nav id="navbar" class="navbar nav-menu">
          <ul>
            <li>
              <a href="#about" class="nav-link scrollto"
                ><i class="fi fi-rr-user"></i> <span>ကိုယ်ရေးအကျဉ်း</span></a
              >
            </li>
            <li>
              <a href="apostadd" class="nav-link scrollto"
                ><i class="fi fi-rr-document-signed"></i>
                <span>ပို့စ်တင်ရန်</span></a
              >
            </li>

            <li>
              <a href="apostlist" class="nav-link scrollto">
                <i class="fi fi-rr-list"></i> <span>ပို့စ်များ</span></a
              >
            </li>
            <li>
              <a href="#testimonial" class="nav-link scrollto">
                <i class="fi fi-rr-users"></i> <span>အေးဂျင့်စာရင်း</span></a
              >
            </li>
            <li>
              <a href="/users/logout" class="nav-link scrollto"
                ><i class="fi fi-rr-exit"></i> <span>ထွက်မည်</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </header>
      <!-- End Header -->
      <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>ကိုယ်ရေးအကျဉ်း</h2>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <img
                  src="/images/bagan.jpg"
                  class="img-fluid rounded"
                  width="500px"
                  height="auto"
                  alt=""
                />
              </div>
              <div class="col-lg-6 pt-3 pt-lg-0 content mb-2">
                <h3>Agent User Name here</h3>
                <br /><br />
                <div class="row">
                  <div class="col-lg-6">
                    <div class="col-lg-3">
                      <ul>
                        <li>
                          <i class="bi bi-chevron-right"></i>
                          <strong>Phone:</strong> <span>096787674654</span>
                        </li>
                        <br />
                        <li>
                          <i class="bi bi-chevron-right"></i>
                          <strong>email:</strong> <span>sample@gmail.com</span>
                        </li>
                        <br />
                        <li>
                          <i class="bi bi-chevron-right"></i>
                          <strong>City:</strong> <span>Pathein</span>
                        </li>
                        <br />

                        <br />
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <ul>
                      <img
                        src="/images/undraw_adventure_re_ncqp.svg"
                        width="230px"
                        alt=""
                      />
                    </ul>
                  </div>
                </div>
                <p>အေးဂျင့်အချက်အလက်များကို ပိုမိုလုပ်ဆောင်နိုင်ရန် ...</p>
              </div>
            </div>
          </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Contact Section ======= -->

        <!-- End Contact Section -->

        <!-- ======= Services Section ======= -->

        <!-- End Services Section -->

        <!-- ======= Testimonials Section ======= -->

        <section id="testimonial" class="portfolio section-bg">
          <section id="testimonials" class="testimonials section-bg">
            <div class="container">
              <div class="section-title">
                <h2>အသုံးပြုသူ အေးဂျင့်များ</h2>
                <p>အေးဂျင့် အချက်လက်များအား ကြည့်ရှုရန်</p>
              </div>

              <div
                class="testimonials-slider swiper"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        ကျွန်တော်ကတော့ Travel Bag နဲ့ ချိတ်ဆက်ပြီးလုပ်ကိုင်နေတဲ့
                        အေးဂျင့် တစ်ယောက်ဖြစ်ပါတယ်။ ကမ်းခြေခရီးစဉ်တွေနဲ့
                        ပတ်သတ်ပြီး ခရီးသွားလာလိုပါက မိတ်ဆွေတို့အနေနဲ့
                        ကျွန်တော့်ကို အသေးစိတ် မေးမြန်း စုံစမ်းနိုင်ပါတယ်။
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <a
                        href="/users/aprofile"
                        class="portfolio-details-lightbox"
                      >
                        <img
                          src="/images/bta222.jpg"
                          class="testimonial-img"
                          alt=""
                        />
                      </a>

                      <h3 style="color: #14bf98">Bhone Thit Aung</h3>
                      <h4>အေးဂျင့်</h4>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div
                      class="testimonial-item"
                      data-aos="fade-up"
                      data-aos-delay="100"
                    >
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        ကျွန်တော်ကတော့ Travel Bag နဲ့ ချိတ်ဆက်ပြီးလုပ်ကိုင်နေတဲ့
                        အေးဂျင့် တစ်ယောက်ဖြစ်ပါတယ်။ ဘုရားဖူးခရီးစဉ်တွေနဲ့
                        ပတ်သတ်ပြီး ခရီးသွားလာလိုပါက မိတ်ဆွေတို့အနေနဲ့
                        ကျွန်တော့်ကို အသေးစိတ် မေးမြန်း စုံစမ်းနိုင်ပါတယ်။
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img
                        src="/images/Wynehtet.jpg"
                        class="testimonial-img"
                        alt=""
                      />
                      <h3 style="color: #14bf98">Wyne Htet Aung</h3>
                      <h4>အေးဂျင့်</h4>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div
                      class="testimonial-item"
                      data-aos="fade-up"
                      data-aos-delay="200"
                    >
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        ကျွန်တော်ကတော့ Travel Bag နဲ့ ချိတ်ဆက်ပြီးလုပ်ကိုင်နေတဲ့
                        အေးဂျင့် တစ်ယောက်ဖြစ်ပါတယ်။ လေ့လာရေးခရီးစဉ်တွေနဲ့
                        ပတ်သတ်ပြီး ခရီးသွားလာလိုပါက မိတ်ဆွေတို့အနေနဲ့
                        ကျွန်တော့်ကို အသေးစိတ် မေးမြန်း စုံစမ်းနိုင်ပါတယ်။
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img
                        src="/images/ShinnThant1.jpg"
                        class="testimonial-img"
                        alt=""
                      />
                      <h3 style="color: #14bf98">Shin Thant Lwin</h3>
                      <h4>အေးဂျင့်</h4>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div
                      class="testimonial-item"
                      data-aos="fade-up"
                      data-aos-delay="300"
                    >
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        ကျွန်တော်ကတော့ Travel Bag နဲ့ ချိတ်ဆက်ပြီးလုပ်ကိုင်နေတဲ့
                        အေးဂျင့် တစ်ယောက်ဖြစ်ပါတယ်။ မိတ်ဆွေတို့ရဲ့ ခရီးစဉ်တွေနဲ့
                        ပတ်သတ်ပြီး တည်းခိုအနားယူဖို့အတွက် ဟိုတယ်တွေနဲ့ပတ်သတ်ပြီး
                        ကျွန်တော့်ကို အသေးစိတ် မေးမြန်း စုံစမ်းနိုင်ပါတယ်။
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img
                        src="/images/KoYethuaung.jpg"
                        class="testimonial-img"
                        alt=""
                      />
                      <h3 style="color: #14bf98">Ye Thu Aung</h3>
                      <h4>အေးဂျင့်</h4>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div
                      class="testimonial-item"
                      data-aos="fade-up"
                      data-aos-delay="400"
                    >
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        ကျွန်တော်ကတော့ Travel Bag နဲ့ ချိတ်ဆက်ပြီးလုပ်ကိုင်နေတဲ့
                        အေးဂျင့် တစ်ယောက်ဖြစ်ပါတယ်။ မိတ်ဆွေတို့ရဲ့ ခရီးစဉ်တွေနဲ့
                        ပတ်သတ်ပြီး လွယ်ကူချောမွေ့စွာသွားလာနိုင်ဖို့အတွက် Express
                        ကားတွေနဲ့ပတ်သတ်ပြီး ကျွန်တော့်ကို အသေးစိတ် မေးမြန်း
                        စုံစမ်းနိုင်ပါတယ်။
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <img
                        src="/images/HHA222.jpg"
                        class="testimonial-img"
                        alt=""
                      />
                      <h3 style="color: #14bf98">Han Htun Aung</h3>
                      <h4>အေးဂျင့်</h4>
                    </div>
                  </div>
                  <!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </section>
        </section>

        <!-- End Testimonials Section -->
      </main>
      <!-- End #main -->

      <!-- ======= Footer ======= -->
      <!-- <footer id="footer">
        <div class="container">
          <h3>Team 143</h3>
          <p>All right served but This is my prime now mf.</p>
          <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </footer> -->
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="text-container about">
                <h4>Few Words About TRAVEL BAG</h4>
                <p class="white">
                  We will always make the best website and make it happy for
                  those who love to travel. For your trip, open an account on
                  Travel Bag now and access it.
                </p>
              </div>
              <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-md-2">
              <div class="text-container">
                <h4>Links</h4>
                <ul class="list-unstyled li-space-lg white">
                  <li>
                    <a class="white" href="/">travelbag.com</a>
                  </li>
                  <li>
                    <a class="white" href="/users/agentpage"
                      >Contact with Agents</a
                    >
                  </li>
                  <li>
                    <a class="white" href="privacy-policy.html"
                      >Privacy Policy</a
                    >
                  </li>
                </ul>
              </div>
              <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-md-2">
              <div class="text-container">
                <h4>Tools</h4>
                <ul class="list-unstyled li-space-lg">
                  <li>
                    <a class="white" href="about">What is Travel Bag?</a>
                  </li>
                  <li>
                    <a class="white" href="/users/nsignup">Signup Accoount</a>
                  </li>
                  <li class="media">
                    <a class="white" href="#your-link">Developers</a>
                  </li>
                </ul>
              </div>
              <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-md-2">
              <div class="text-container">
                <h4>Partners</h4>
                <ul class="list-unstyled li-space-lg">
                  <li>
                    <a class="white" href="https://techhouse.tech"
                      >TECH HOUSE</a
                    >
                  </li>
                  <li>
                    <a
                      class="white"
                      href="https://www.agoda.com/search?device=c&network=g&adid=578521311774&rand=8550497045181996344&expid=&adpos=&aud=kwd-377647966256&selectedproperty=433190&city=514493&site_id=1891449&tag=20af1f73-c07d-0ede-a76a-e169b0836e9b"
                      >HOTEL ACE</a
                    >
                  </li>
                  <li>
                    <a
                      class="white"
                      href="https://www.goldendragonbus.com/news/272814.html"
                      >GOLDEN DRAGON BUS</a
                    >
                  </li>
                </ul>
              </div>
              <!-- end of text-container -->
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <p class="p-small">
                  Copyright © 2022
                  <a href="/">travelbag.com. All Rights Reserved.</a>
                </p>
              </div>
              <!-- end of col -->
            </div>
            <!-- enf of row -->
          </div>
          <!-- end of container -->
        </div>
        <!-- end of container -->
      </div>
      <!-- End Footer -->

      <!-- <div id="preloader"></div> -->
      <a
        href="#"
        class="back-to-top d-flex align-items-center justify-content-center"
        ><i class="fi fi-rr-angle-double-small-up"></i>
      </a>
    </div>

    <!-- Vendor JS Files -->
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/javascripts/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
