<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/template.css" />
    <link rel="stylesheet" href="/stylesheets/agent-post-list.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />

    <style>
      body {
        background: #2c3e50; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #3498db,
          #2c3e50
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #3498db,
          #2c3e50
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    </style>
  </head>
  <body>
    <i class="mobile-nav-toggle d-lg-none fi fi-rr-menu-burger"></i>

    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="agentpage" class="nav-link scrollto"
              ><i class="fi fi-rr-home"></i> <span>ပင်မ</span></a
            >
          </li>
        </ul>
      </nav>
    </header>

    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>ပို့စ်များ</h2>
          <p>အချက်အလက်များကိုအသေးစိတ် ကြည့်ရှုရန်</p>
        </div>

        <div
          class="row portfolio-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <% for (var i = 0 ; i < posts.length ; i ++){%>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img
                src="<%= posts[i].image %>"
                class=""
                alt=""
                width="400px"
                height="280px"
              />
              <div class="portfolio-info">
                <a href="/users/adetail/<%= posts[i]._id %> ">
                  <h4><%= posts[i].title %></h4>
                </a>
              </div>
            </div>
          </div>

          <%}%>
        </div>
      </div>
    </section>
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  </body>
</html>
