<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/template.css" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />

    <style>
      body {
        background: #136a8a; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #267871,
          #136a8a
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #267871,
          #136a8a
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    </style>
  </head>
  <body>
    <i class="mobile-nav-toggle d-lg-none fi fi-rr-menu-burger"></i>

    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="agentpage" class="nav-link scrollto"
              ><i class="fi fi-rr-exit"></i> <span>နောက်သို့</span></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <section id="testimonial" class="portfolio section-bg">
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>အသုံးပြုသူ အေးဂျင့်များ</h2>
            <p>အေးဂျင့် အချက်လက်များအား ကြည့်ရှုရန်</p>
          </div>
          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    ကျွန်တော်ကတော့ Travel Bag နဲ့ ချိတ်ဆက်ပြီးလုပ်ကိုင်နေတဲ့
                    အေးဂျင့် တစ်ယောက်ဖြစ်ပါတယ်။ ကမ်းခြေခရီးစဉ်တွေနဲ့ ပတ်သတ်ပြီး
                    ခရီးသွားလာလိုပါက မိတ်ဆွေတို့အနေနဲ့ ကျွန်တော့်ကို အသေးစိတ်
                    မေးမြန်း စုံစမ်းနိုင်ပါတယ်။
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <a href="/users/aprofile" class="portfolio-details-lightbox">
                    <img
                      src="/images/bta222.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                  </a>

                  <h3 style="color: #14bf98"><%= locals.agent.agentName%></h3>
                  <h4>အေးဂျင့်</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/javascripts/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
