<!-- Navbar -->
<!-- <head>
  <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
</head> -->
<title>
  <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
</title>

<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
  <!-- Text Logo - Use this if you don't have a graphic logo -->
  <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

  <!-- Image Logo -->
  <a class="navbar-brand logo-image" href="index.html"
    ><img src="/images/TBLogo.png" alt="alternative"
  /></a>

  <!-- Mobile Menu Toggle Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-awesome fas fa-bars"></span>
    <span class="navbar-toggler-awesome fas fa-times \"></span>
  </button>
  <!-- end of mobile menu toggle button -->

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <% if(locals.user){%>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/dashboard"
          >ပင်မ <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/dashboard#contactForm"
          >ဆက်သွယ်ရန်</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link page-scroll"
          href="https://www.google.com.sg/maps/place/Tech+House/@16.7873706,94.7254858,14.5z/data=!4m5!3m4!1s0x30bfebf9d4ced8e9:0x8c1920512b03daf9!8m2!3d16.784822!4d94.7389057"
          target="_blank"
          >ခရီးသွားလမ်းညွှန်</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/dashboard#projects"
          >ခရီးစဥ်များ</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#">ရှာဖွေရန်</a>
      </li>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/about">အကြောင်းအရာ</a>
      </li>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/users/logout"
          >အကောင့်မှထွက်ရန်</a
        >
      </li>
      <%}else{%>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#header">ပင်မ </a>
      </li>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/#contactForm">ဆက်သွယ်ရန်</a>
      </li>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/about">အကြောင်းအရာ</a>
      </li>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="/users/nlogin">အကောင့်ဝင်ရန်</a>
      </li>
    </ul>
    <%}%>
  </div>
</nav>
<!-- end of navbar -->
