<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services."
    />
    <meta name="author" content="Inovatik" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>About - Travel Bag - Business & Travelling Website</title>

    <!-- Styles -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png" />
  </head>
  <body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- end of preloader -->
    <% include ./partials/navbar %>
    <!-- Header -->
    <header id="header" class="ex-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>About of TRAVEL BAG</h1>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->

    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumbs">
              <a href="/">ပင်မ</a><i class="fa fa-angle-double-right"></i
              ><span>အကြောင်းအရာ</span>
            </div>
            <!-- end of breadcrumbs -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

    <!-- Terms Content -->
    <div class="ex-basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h3>TRAVEL BAG ဆိုတာ ဘာလဲ?</h3>
              <p>
                TRAVEL BAG ဆိုသည်မှာ ခရီးထွက် အပန်းဖြေရတာကို နှစ်သက်သူတို့အတွက်
                လွယ်ကူလျှင်မြန်စွာနှင့် အချိန်ကုန်သက်သာပြီး လျှောမွေ့လွယ်ကူစွာ
                သွားလာနိုင်ရန်အတွက် တည်ထောင်ထားသော ဝက်ဆိုက်တစ်ခု ဖြစ်ပါသည်။
              </p>
              <p>
                လူကြီးမင်းတို့ သွားရောက်လိုသော ခရီးစဥ်များကို Travel Bag
                တွင်ဝင်ရောက်ကြည့်ရှုပြီး ကြိုက်နှစ်သက်ရာ ခရီးစဥ်ကိုရွေးချယ်၍
                အေးဂျင့်နှင့်ချိတ်ဆက်ကာ စိတ်ချစွာဖြင့် သွားလာနိုင်ပြီဖြစ်ပါသည်။
              </p>
              <ul class="list-unstyled li-space-lg indent">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    မြန်မာနိုင်ငံအတွင်းရှိ အထင်ကရ နေရာများ...
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    ကြည်ညိုဖွယ်ရာ ကောင်းပြီး စိတ်ကိုအေးချမ်းစေမည့်
                    ဘုရားဖူးခရီးစဥ်များ...
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    စိတ်လက်ပင်ပန်းမှုကိုဖြေဖျောက်နိုင်ရန် ကမ်းခြေခရီးစဉ်များ...
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    လေ့လာရေးခရီးထွက်ချင်သူများအတွက် သမိုင်းဝင်နေရာများနှင့်အတူ
                    Vlog ရိုက်ကူးလိုသူများအတွက်လဲ တောင်တန်းဒေသတွေ အထိ
                    စိတ်လက်ပေါ့ပါးစွာ သွားရောက်လည်ပတ်နိုင်ပါသည်။
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Travel Bag သည် ဟိုတယ်နှင့် ခရီးသွားလုပ်ငန်းများစွာဖြင့်
                    ချိတ်ဆက်လုပ်ကိုင်လျက်ရှိတာကြောင့် ခရီးထွက်ရင်
                    တည်းခိုဖို့အတွက် စိတ်ပူစရာမလို၊
                    ခေါင်းရှုပ်စရာမလိုတော့ဘူးပေါ့...
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    ဒါ့အပြင် ဟန်းနီးမွန်း ခရီးထွက်မယ့် ချစ်သူ
                    စုံတွဲလေးတွေအတွက်လဲ ပျော်စရာကောင်းမယ့် Suprise
                    အစီအစဉ်လေးတွေပါဝင်ဦးမှာမို့ ချစ်ရသူနဲ့အတူ ခရီးထွက်ရင်း
                    ပျော်ရွှင်စရာ အမှတ်တရလေးတွေပိုင်ဆိုင်နိုင်မှာ
                    အသေချာပါပဲနော်...။
                  </div>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->

    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumbs">
              <a href="/">travelbag.com</a
              ><i class="fa fa-angle-double-right"></i
              ><span>ABOUT OF TRAVEL BAG</span>
            </div>
            <!-- end of breadcrumbs -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="text-container about">
              <h4>Few Words About TRAVEL BAG</h4>
              <p class="white">
                We will always make the best website and make it happy for those who love to travel. For your trip, open an account on Travel Bag now and access it.
              </p>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Links</h4>
              <ul class="list-unstyled li-space-lg white">
                <li>
                  <a class="white" href="/">travelbag.com</a>
                </li>
                <li>
                  <a class="white" href="/users/agentpage"
                    >Contact with Agents</a
                  >
                </li>
                <li>
                  <a class="white" href="privacy-policy.html">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Tools</h4>
              <ul class="list-unstyled li-space-lg">
                <li>
                  <a class="white" href="about">What is TRAVEL BAG?</a>
                </li>
                <li>
                  <a class="white" href="/users/nsignup"
                    >Signup Accoount</a
                  >
                </li>
                <li class="media">
                  <a class="white" href="privacy-policy.html">Developers</a>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Partners</h4>
              <ul class="list-unstyled li-space-lg">
                <li>
                  <a class="white" href="https://techhouse.tech">TECH HOUSE</a>
                </li>
                <li>
                  <a class="white" href="https://www.agoda.com/search?device=c&network=g&adid=578521311774&rand=8550497045181996344&expid=&adpos=&aud=kwd-377647966256&selectedproperty=433190&city=514493&site_id=1891449&tag=20af1f73-c07d-0ede-a76a-e169b0836e9b"
                    >HOTEL ACE</a
                  >
                </li>
                <li>
                  <a class="white" href="https://www.goldendragonbus.com/news/272814.html">GOLDEN DRAGON BUS</a>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">
              Copyright © 2022
              <a href="/">travelbag.com. All Rights Reserved.</a>
            </p>
          </div>
          <!-- end of col -->
        </div>
        <!-- enf of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->

    <!-- Scripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="/javascripts/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/javascripts/scripts.js"></script>
    <!-- Custom scripts -->
  </body>
</html>
