<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }

      html {
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
      }

      .about-section {
        padding: 50px;
        text-align: center;
        background-color: #14bf98;
        color: white;
      }

      .container {
        padding: 0 16px;
      }

      .container::after,
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      pre {
        margin-right: 800px;
        font-size: 20px;
      }

      .title {
        color: grey;
      }

      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #14bf98;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }

      .button:hover {
        background-color: #555;
      }

      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
    </style>
    <title>About Us</title>
  </head>
  <body>
    <div class="about-section">
      <h1>TRAVEL BAG အကြောင်း</h1>
      <!-- <pre>
        <span>TRAVEL BAG</span> Websiteသည် ခရီးသွား Website Page တစ်ခုဖြစ်ပါသည်။
      </pre> -->
      <p>
        <b>TRAVEL BAG</b> ကို ၂၀၂၂ ခုနှစ် စက်တင်ဘာလ ၁၉ ရက်နေ့မှာ
        စတင်တည်ထောင်ခဲ့ပြီး ပြည်တွင်းခရီးသွားကုမ္ပဏီကြီးများ၊ Hotel နှင့်
        ခရီးသွားပို့ဆောင်ရေး လုပ်ငန်းများနှင့်အတူ ချိတ်ဆက်လုပ်ဆောင်လျက်ရှိပါသည်။
        ယခုအချိန်တွင် TRAVEL BAG ကို Developer ၃ ဦးနှင့် လည်ပတ်နေပြီး
        လူကြီးမင်းတို့၏ ခရီးသွားလာရေးများ အဆင်ပြေစေရန်
        အစွမ်းကုန်ကြိုးပေးလျက်ရှိပါသည်။ လူကြီးမင်းတို့အနေဖြင့် Website Page
        နှင့်ပတ်သတ်၍ အခက်ခဲတစ်စုံတစ်ရာရှိပါက ကျွန်ုပ်တို့၏ Developer Team
        ကိုဆက်သွယ်မေးမြန်းနိုင်ပါသည်။
      </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/w3images/team1.jpg" alt="Jane" style="width: 100%" />
          <div class="container">
            <h2>Wyne Htet Aung</h2>
            <p class="title">Co-Founder and Backend Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>jane@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img
            src="/images/bta123.jpg"
            alt="Bhone Thit Aung"
            style="
              width: 50%;
              border-radius: 100%;
              height: 220px;
              margin-left: 25%;
              margin-top: 5px;
            "
          />
          <div class="container">
            <h2>Bhone Thit Aung</h2>
            <p class="title">CEO-Founder and Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>thitphone95@gmail.com</p>
            <p><button class="button">+959757359906</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/w3images/team3.jpg" alt="John" style="width: 100%" />
          <div class="container">
            <h2>Shin Thant Lwin</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
