<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services."
    />
    <title>Traver Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <style>
      
      .accbtn {
        color: #fff;
        background-color: #14bf98;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: small;
        width: 150px;
        height: 50px;
      }
      .accbtn:hover {
        background-color: #256d85;
        outline: none;
      }

      /* .accbta1 {
        display: inline-block;
      } */

      /* .accbta2 {
        margin-left: 15px;
      } */

      .mm12 {
        width: 15px;
        margin-right: 5px;
      }

      .mm13 {
        width: 20px;
        margin-right: 5px;
      }

      .btaei {
        background-color: lightblue;
        border: 3px solid #14bf98;
        border-radius: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        display: inline-block;
        
      }

      .btabta {
        width: 30px;
        padding-right: 10px;
      }

      .imgBagan {
        margin: 0 auto;
      }
    </style>
  </head>

  <body
    data-spy="scroll"
    data-target=".fixed-top"
    style="background-color: lightgray"
  >
    <a href="body" class="back-to-top page-scroll" style="display: inline"
      >Back to Top</a
    >
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <% include ./partials/navbar %>

    <!--   class="nav nav-tabs"-->

    <!-- bootstrap code start -->

    <div class="container-fluid">
      <div class="container-fluid mt-5 pt-5">
        <div class="row">
          <div class="tabs">
            <!-- area-1 layout-1 -->
          
                <!-- Tabs Links -->
                <ul id="ariaTabs">
                  <div class="btaei">
                    <p>
                      <img
                        src="images/info-sign.png"
                        alt="info"
                        class="btabta"
                      />အကောင့်ဝင်ရန် အောက်တွင် ရွေးချယ်ပါ။
                    </p>
                  </div>
                  <div class="row">
                    <div class="accbta1 m-3">
                      <a href="/users/nlogin">
                        <button class="accbtn">
                          <img class="mm12" src="/images/uuu.png" alt="Agent" />
                          သာမာန် အကောင့်
                        </button>
                      </a>
                    </div>
                    <div class="accbta2 m-3">
                      <a href="/users/agentLogin">
                        <button class="accbtn">
                          <img
                            class="mm13"
                            src="/images/people.png"
                            alt="Agent"
                          />အေးဂျင့် အကောင့်
                        </button>
                      </a>
                    </div>
                  </div>
                </ul>
                <!-- end of tabs links -->
                <div class="all1">
                  <div>
                    <p>
                      &#9734;
                      <strong>မှတ်ချက်</strong> အကောင့်အမျိုးအစား နှစ်ခုစလုံးမှာ
                      အခမဲ့ (FREE) ဖြစ်ပါသည်။
                    </p>
                    <p>
                      &#9734; သာမာန်အကောင့် ပြုလုပ်ထားသူများအနေဖြင့်
                      သာမာန်အကောင့်တွင် အကောင့်ဝင်နိုင်ပါသည်။
                    </p>
                    <p>
                      &#9734; သာမန်အကောင့်ပြုလုပ်ထားသူများအနေဖြင့်
                      အေးဂျင့်အကောင့်တွင် အကောင့်ဝင်နိုင်မည်မဟုတ်ပါ။
                    </p>
                    <p>
                      ‌အေးဂျင့်အကောင့်ဖြင့်အကောင့်ဝင်လိုပါက အေးဂျင့်အကောင့်တစ်ခု
                      ထပ်မံပြုလုပ်ပြီး အကောင့်ဝင်နိုင်ပါသည်။
                    </p>
                    <p>
                      &#9734; အေးဂျင့်အကောင့် ပြုလုပ်ထားသူများအနေဖြင့်
                      အေးဂျင့်အကောင့်တွင် အကောင့်ဝင်နိုင်ပါသည်။
                    </p>
                    <p>
                      &#9734; အေးဂျင့်အကောင့်ပြုလုပ်ထားသူများအနေဖြင့်
                      သာမာန်အကောင့်တွင် အကောင့်ဝင်နိုင်မည်မဟုတ်ပါ။
                    </p>
                    <p>
                      ‌သာမာန်အကောင့်ဖြင့်အကောင့်ဝင်လိုပါက သာမာန်အကောင့်တစ်ခု
                      ထပ်မံပြုလုပ်ပြီး အကောင့်ဝင်နိုင်ပါသည်။
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="text-container about">
              <h4>Few Words About TRAVEL BAG</h4>
              <p class="white">
                We will always make the best website and make it happy for those
                who love to travel. For your trip, open an account on Travel Bag
                now and access it.
              </p>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Links</h4>
              <ul class="list-unstyled li-space-lg white">
                <li>
                  <a class="white" href="/">travelbag.com</a>
                </li>
                <li>
                  <a class="white" href="/users/agentpage"
                    >Contact with Agents</a
                  >
                </li>
                <li>
                  <a class="white" href="privacy-policy.html">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Tools</h4>
              <ul class="list-unstyled li-space-lg">
                <li>
                  <a class="white" href="about">What is Travel Bag?</a>
                </li>
                <li>
                  <a class="white" href="/users/nsignup">Signup Accoount</a>
                </li>
                <li class="media">
                  <a class="white" href="#your-link">Developers</a>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Partners</h4>
              <ul class="list-unstyled li-space-lg">
                <li>
                  <a class="white" href="https://techhouse.tech">TECH HOUSE</a>
                </li>
                <li>
                  <a
                    class="white"
                    href="https://www.agoda.com/search?device=c&network=g&adid=578521311774&rand=8550497045181996344&expid=&adpos=&aud=kwd-377647966256&selectedproperty=433190&city=514493&site_id=1891449&tag=20af1f73-c07d-0ede-a76a-e169b0836e9b"
                    >HOTEL ACE</a
                  >
                </li>
                <li>
                  <a
                    class="white"
                    href="https://www.goldendragonbus.com/news/272814.html"
                    >GOLDEN DRAGON BUS</a
                  >
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">
              Copyright © 2022
              <a href="/">travelbag.com. All Rights Reserved.</a>
            </p>
          </div>
          <!-- end of col -->
        </div>
        <!-- enf of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->

    <!-- bootstrap code end -->

    <!-- Scripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="/javascripts/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/javascripts/scripts.js"></script>
    <!-- Custom scripts -->
  </body>
</html>
