<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services."
    />
    <title>Traver Bag</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
      rel="stylesheet"
    />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <style>
      
      .accbtn {
        color: #fff;
        background-color: #14bf98;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: small;
        width: 150px;
        height: 50px;
      }
      .accbtn:hover {
        background-color: #256d85;
        outline: none;
      }

      .accbta1 {
        margin-right: 15px;
      }

      .accbta2 {
        margin-left: 15px;
      }

      .mm12 {
        width: 15px;
        margin-right: 5px;
      }

      .mm13 {
        width: 20px;
        margin-right: 5px;
      }

      .btaei {
        background-color: lightblue;
        border: 3px solid #14bf98;
        border-radius: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
      }
      .btabta {
        width: 30px;
        padding-right: 10px;
        
      }
      
    </style>
  </head>

  <body data-spy="scroll" data-target=".fixed-top" style="background-color: lightgray;">
    <a href="body" class="back-to-top page-scroll" style="display: inline"
      >Back to Top</a
    >
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <% include ./partials/navbar %>

    <!-- Details 2 -->
    <div class="tabs">
      <div class="area-1">
        <div class="tabs-container">
          <!-- Tabs Links -->
          <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
            <div class="btaei">
              <p>
                <img
                  src="images/info-sign.png"
                  alt="info"
                  class="btabta"
                />အကောင့် အမျိုးအစားတစ်ခုကို အောက်တွင် ရွေးချယ်ပါ။
              </p>
            </div>
            <div class="accbta1">
              <button class="accbtn">
                <img class="mm12" src="/images/uuu.png" alt="Agent" />
                သာမာန် အကောင့်
              </button>
            </div>
            <div class="bta2">
              <button class="accbtn">
                <img
                  class="mm13"
                  src="/images/people.png"
                  alt="Agent"
                />အေးဂျင့် အကောင့်
              </button>
            </div>
          </ul>
          <!-- end of tabs links -->
          <div class="container">
            <p>
              &#9734;
              <strong>မှတ်ချက်</strong> အကောင့်အမျိုးအစား နှစ်ခုစလုံးမှာ အခမဲ့ (FREE) ဖြစ်ပါသည်။
            </p>
            <p>
              &#9734;
              ကြော်ငြာများကို အခမဲ့ တင်ခွင့်ရှိပါသည်။
            </p>
            <p>
              &#9734;
              သာမာန်အကောင့်တွင် တစ်လကို ကြော်ငြာ ၅ ခု အခမဲ့ တင်နိုင်ပြီး အေးဂျင့်အကောင့်တွင် တစ်လကို ကြော်ငြာ ၁၀ ခု အခမဲ့ တင်နိုင်ပါသည်။ 
            </p>
            <p>
              &#9734;
              သို့သော် အေးဂျင့်အကောင့်တွင် လုပ်ဆောင်ချက်များ ပိုမိုပါဝင်ပါသည်။
            </p>
          </div>
    <!-- Scripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="/javascripts/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/javascripts/scripts.js"></script>
    <!-- Custom scripts -->
  </body>
</html>
