<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Traver Bag</title>

    <!-- style  -->

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
      rel="stylesheet"
    />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
  </head>

  <body data-spy="scroll" data-target=".fixed-top">
    <a href="body" class="back-to-top page-scroll" style="display: inline"
      >Back to Top</a
    >
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <% include ./partials/navbar %>
    <!-- this is nav  -->

    <!-- Details 2 -->
    <div class="tabs">
      <div class="area-1">
        <div class="tabs-container">
          <!-- Tabs Links -->
          <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="nav-tab-1"
                data-toggle="tab"
                href="#tab-1"
                role="tab"
                aria-controls="tab-1"
                aria-selected="true"
                ><i class="fas fa-th"></i> Business</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="nav-tab-2"
                data-toggle="tab"
                href="#tab-2"
                role="tab"
                aria-controls="tab-2"
                aria-selected="false"
                ><i class="fas fa-th"></i> Expertise</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="nav-tab-3"
                data-toggle="tab"
                href="#tab-3"
                role="tab"
                aria-controls="tab-3"
                aria-selected="false"
                ><i class="fas fa-th"></i> Quality</a
              >
            </li>
          </ul>
          <!-- end of tabs links -->

          <!-- Tabs Content -->
          <div class="tab-content" id="ariaTabsContent">
            <!-- Tab -->
            <div
              class="tab-pane fade show active"
              id="tab-1"
              role="tabpanel"
              aria-labelledby="tab-1"
            >
              <h4>Business Services For Companies</h4>
              <p>
                Aria provides the most innovative and customized business
                services in the industry. Our
                <a class="green page-scroll" href="#services">Services</a>
                section shows how flexible we are for all types of budgets.
              </p>

              <!-- Progress Bars -->
              <div class="progress-container">
                <div class="title">Business Development 100%</div>
                <div class="progress">
                  <div
                    class="progress-bar first"
                    role="progressbar"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="title">Opportunity Spotting 76%</div>
                <div class="progress">
                  <div
                    class="progress-bar second"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="title">Online Marketing 90%</div>
                <div class="progress">
                  <div
                    class="progress-bar third"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <!-- end of progress-container -->
              <!-- end of progress bars -->
            </div>
            <!-- end of tab-pane -->
            <!-- end of tab -->

            <!-- Tab -->
            <div
              class="tab-pane fade"
              id="tab-2"
              role="tabpanel"
              aria-labelledby="tab-2"
            >
              <ul class="list-unstyled li-space-lg first">
                <li class="media">
                  <div class="media-bullet">1</div>
                  <div class="media-body">
                    <strong>High quality</strong> is on top of our list when it
                    comes to the way we deliver the services
                  </div>
                </li>
                <li class="media">
                  <div class="media-bullet">2</div>
                  <div class="media-body">
                    <strong>Maximum impact</strong> is what we look for in our
                    actions
                  </div>
                </li>
                <li class="media">
                  <div class="media-bullet">3</div>
                  <div class="media-body">
                    <strong>Quality standards</strong> are important but meant
                    to be exceeded
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled li-space-lg last">
                <li class="media">
                  <div class="media-bullet">4</div>
                  <div class="media-body">
                    <strong>We're always looking</strong> for industry leaders
                    to help them win their market position
                  </div>
                </li>
                <li class="media">
                  <div class="media-bullet">5</div>
                  <div class="media-body">
                    <strong>Evaluation</strong> is a key aspect of this business
                    and important
                  </div>
                </li>
                <li class="media">
                  <div class="media-bullet">6</div>
                  <div class="media-body">
                    <strong>Ethic</strong> procedures ar alwasy at the base of
                    everything we do
                  </div>
                </li>
              </ul>
            </div>
            <!-- end of tab-pane -->
            <!-- end of tab -->

            <!-- Tab -->
            <div
              class="tab-pane fade"
              id="tab-3"
              role="tabpanel"
              aria-labelledby="tab-3"
            >
              <p>
                <strong>We strive to achieve</strong> 100% customer satisfaction
                for both types of customers: hiring companies and job seekers.
                Types of customers:
                <a class="green" href="#your-link">with huge potential</a>
              </p>
              <p>
                <strong>Our goal is to help</strong> your company achieve its
                full potential and establish long term stability for
                <a class="green" href="#your-link">the stakeholders</a>
              </p>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    It's easy to get a quotation, just call our office anytime
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    We'll get back to you with an initial estimate soon
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Get ready to see results even after only 30 days
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Ask for a quote and start improving your business
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Just fill out the form and we'll call you right away
                  </div>
                </li>
              </ul>
            </div>
            <!-- end of tab-pane -->
            <!-- end of tab -->
          </div>
          <!-- end of tab-content -->
          <!-- end of tabs content -->
        </div>
        <!-- end of tabs-container -->
      </div>
      <!-- end of area-1 on same line and no space between comments to eliminate margin white space -->
      <div class="area-2"></div>
      <!-- end of area-2 -->
    </div>
    <!-- end of tabs -->
    <!-- end of details 2 -->

    <!-- Scripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="/javascripts/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/javascripts/scripts.js"></script>
    <!-- Custom scripts -->
  </body>
</html>
