<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <!-- style  -->

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
      rel="stylesheet"
    />

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/agent-post-list.css">
  </head>
  <style>
    .text-style {
      color: #14bf98;
      font-size: 50px;
      padding-bottom: 25px;
    }
    .blog123 {
      height: 270px;
    }
    .im11 {
      width: fit-content;
      height: 660px;
    }
    .phone123 {
      width: 25px;
      height: 25px;
    }
    /* .icon24{
      color: #113448;
    }
    .icon24:hover{
      background-color: #113448;
      
    }
    .icon24{
      width: 52px;
    } */
    
  </style>
  <body>
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- this is nav bar -->
    <% include ./partials/navbar %>
    <!-- this is nav  -->

    <!-- Header -->
    <header id="header" class="header">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-container">
                <div class="text-style">
                  <span style="color: white;line-height: 1.6;">
                  
                      TRAVEL BAG မှ ကြိုဆိုပါ၏ <br>
                      <%= locals.user.normalName %> <br>
                  </span>
                </div>
                <h1>
                  TRAVEL BAG နှင့် အတူ
                  <span id="js-rotating"
                    >ဘုရားဖူးခရီးစဥ်များ, အပန်းဖြေခရီးများ, လေ့လာရေးခရီးများ,
                    မိသားစုခရီးစဥ်များ </span
                  ><span>ကို</span>
                </h1>
                <br />
                <p class="p-heading p-large font">
                  လူကြီးမင်းအနေဖြင့် စိတ်ချယုံကြည်စွာ သွားရောက်လည်ပတ်ရင်း
                  ပျော်ရွှင်စရာ အမှတ်တရလေးတွေကို ဖန်တီးနိုင်ပါပြီ...
                </p>
                <!-- <a class="btn-solid-lg page-scroll" href="/users/nsignup"
                  >အကောင့်ပြုလုပ်ရန်</a
                > -->
              </div>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </div>
      <!-- end of header-content -->
    </header>
    <!-- end of header -->

    <!-- post list from agent -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>ပို့စ်များ</h2>
          <p>အချက်အလက်များကိုအသေးစိတ် ကြည့်ရှုရန်</p>
        </div>

        <!-- <div class="row">
          <div
            class="col-lg-12 d-flex justify-content-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">အားလုံး</li>
              <li data-filter=".filter-beach">ကမ်းခြေခရီးစဉ်များ</li>
              <li data-filter=".filter-pagoda">ဘုရားဖူးခရီးစဉ်များ</li>
              <li data-filter=".filter-hotel">ဟိုတယ်များ</li>
            </ul>
          </div>
        </div> -->

        <div
          class="row portfolio-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <% for (var i = 0 ; i < posts.length ; i ++){%>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img
                src="<%= posts[i].image %>"
                class=""
                alt=""
                width="300px"
                height="100%"
              />
              <div class="portfolio-info">
                <a href="/users/adetail/<%= posts[i]._id %> ">
                  <h4><%= posts[i].title %></h4>
                </a>
              </div>
            </div>
          </div>

          <%}%>
        </div>
      </div>
    </section>

    <!-- Projects -->
    <div id="projects" class="filter">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">ခရီးစဥ်များ</div>
            <h2>
              မိတ်ဆွေတို့ သွားရောက်လိုသော ခရီးစဥ်များကို အောက်တွင်
              အသေးစိတ်ကြည့်ရှုနိုင်ပါသည်။
            </h2>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Filter -->
            <div class="button-group filters-button-group">
              <a class="button is-checked" data-filter="*"
                ><span>အားလုံး</span></a
              >
              <a class="button" data-filter=".design"
                ><span>ဘုရားဖူးခရီးစဥ်များ</span></a
              >
              <a class="button" data-filter=".development"
                ><span>ကမ်းခြေခရီးစဉ်များ</span></a
              >
              <a class="button" data-filter=".marketing"
                ><span>လေ့လာရေးခရီးစဥ်များ</span></a
              >
              <a class="button" data-filter=".seo"><span>ဟိုတယ်များ</span></a>
              <a class="button" data-filter=".bus"><span>BUS များ</span></a>
            </div>
            <!-- end of button group -->

            <div class="grid">
              <div class="element-item design marketing">
                <a class="popup-with-move-anim" href="#project-1"
                  ><div class="element-item-overlay">
                    <span>ပုဂံဘုရားဖူးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/bagan2.jpg" alt="Bagan"
                /></a>
              </div>

              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-2"
                  ><div class="element-item-overlay">
                    <span>အင်းလေးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/innlay5.jpg" alt="Innlay"
                /></a>
              </div>

              <div class="element-item design marketing">
                <a class="popup-with-move-anim" href="#project-3"
                  ><div class="element-item-overlay">
                    <span>မြောက်ဦးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/Mrauk-U1.jpg" alt="Mrauk-U"
                /></a>
              </div>

              <div class="element-item development">
                <a class="popup-with-move-anim" href="#project-4"
                  ><div class="element-item-overlay">
                    <span>ငပလီကမ်းခြေခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/beach1.jpg" alt="Ngapali"
                /></a>
              </div>

              <div class="element-item development">
                <a class="popup-with-move-anim" href="#project-5"
                  ><div class="element-item-overlay">
                    <span>ငွေဆောင်ကမ်းခြေခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/Ns4.jpg" alt="NgweSung"
                /></a>
              </div>

              <div class="element-item development">
                <a class="popup-with-move-anim" href="#project-6"
                  ><div class="element-item-overlay">
                    <span>ချောင်းသာကမ်းခြေခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/ct1.jpg" alt="alternative"
                /></a>
              </div>

              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-7"
                  ><div class="element-item-overlay">
                    <span>ပျူ ဿရေခေတ္တရာမြို့ဟောင်းခရီးစဉ်</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/batethanoe3.jpg"
                    alt="batethanoe"
                /></a>
              </div>

              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-8"
                  ><div class="element-item-overlay">
                    <span>တောင်ကြီးမြို့ခရီးစဉ်</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/tunggyi2.jpg"
                    alt="Taunggyi"
                /></a>
              </div>

              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-9"
                  ><div class="element-item-overlay">
                    <span>ပြင်ဦးလွင်မြို့ခရီးစဉ်</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/pyinoolwin1.jpg"
                    alt="PyinOoLwin"
                /></a>
              </div>

              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-10"
                  ><div class="element-item-overlay">
                    <span>မန္တလေးမြို့ခရီးစဉ်</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/mandalay2.jpg"
                    alt="Mandalay"
                /></a>
              </div>

              <div class="element-item design">
                <a class="popup-with-move-anim" href="#project-11"
                  ><div class="element-item-overlay">
                    <span>ဗောဓိတစ်ထောင်ဘုရားဖူးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/bawdi1.jpg" alt="MoneYwer"
                /></a>
              </div>

              <div class="element-item design">
                <a class="popup-with-move-anim" href="#project-25"
                  ><div class="element-item-overlay">
                    <span>ကျိုက်ထီးရိုးဘုရားဖူးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/kkh.jpg" alt="KyikeHto"
                /></a>
              </div>

              <div class="element-item design">
                <a class="popup-with-move-anim" href="#project-12"
                  ><div class="element-item-overlay">
                    <span>မဟာမြတ်မုနိဘုရားဖူးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/mmmu.jpg" alt="MDY"
                /></a>
              </div>

              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-23"
                  ><div class="element-item-overlay">
                    <span>ပုသိမ်မြို့ခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/ptn2.jpg" alt="Pathein"
                /></a>
              </div>

              <div class="element-item development">
                <a class="popup-with-move-anim" href="#project-13"
                  ><div class="element-item-overlay">
                    <span>ဂေါ်ရန်ဂျီကျွန်း</span>
                  </div>
                  <img class="blog123" src="/images/gaw8.jpg" alt="gawyangyi"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-14"
                  ><div class="element-item-overlay">
                    <span>Aureum Palace Hotel</span>
                  </div>
                  <img class="blog123" src="/images/nshotel2.jpg" alt="hotel1"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-15"
                  ><div class="element-item-overlay">
                    <span>CENTRAL Hotel</span>
                  </div>
                  <img class="blog123" src="/images/nshotel4.jpg" alt="hotel2"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-16"
                  ><div class="element-item-overlay">
                    <span>ACE Hotel</span>
                  </div>
                  <img class="blog123" src="/images/nshotel5.jpg" alt="hotel3"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-17"
                  ><div class="element-item-overlay">
                    <span>Chaung Thar Lodge Hotel</span>
                  </div>
                  <img class="blog123" src="/images/cthotel1.jpg" alt="hotel4"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-18"
                  ><div class="element-item-overlay">
                    <span>New Chaung Tha Hotel</span>
                  </div>
                  <img class="blog123" src="/images/cthotel3.jpg" alt="hotel5"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-19"
                  ><div class="element-item-overlay">
                    <span>Kalaw Heritage Hotel</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/kalawhotel6.jpg"
                    alt="hotel7"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-20"
                  ><div class="element-item-overlay">
                    <span>Royal Taunggyi Hotel</span>
                  </div>
                  <img class="blog123" src="/images/taunggyi1.jpg" alt="hotel8"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-21"
                  ><div class="element-item-overlay">
                    <span>Hotel Sein Chuu</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/pyinhotel02.jpg"
                    alt="hotel9"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-22"
                  ><div class="element-item-overlay">
                    <span>Heritage Bagan Hotel</span>
                  </div>
                  <img class="blog123" src="/images/bagan12.jpg" alt="hote20"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-24"
                  ><div class="element-item-overlay">
                    <span>KMA Inle Hotel</span>
                  </div>
                  <img class="blog123" src="/images/innlay11.jpg" alt="hote21"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-26"
                  ><div class="element-item-overlay">
                    <span>မန္တလာမင်း Express</span>
                  </div>
                  <img class="blog123" src="/images/bus2.jpg" alt="bus1"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-27"
                  ><div class="element-item-overlay">
                    <span>Academy Express</span>
                  </div>
                  <img class="blog123" src="/images/bus7.jpg" alt="bus2"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-28"
                  ><div class="element-item-overlay">
                    <span>Shwe Mandalar Express</span>
                  </div>
                  <img class="blog123" src="/images/bus11.jpeg" alt="bus3"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-29"
                  ><div class="element-item-overlay">
                    <span>Famous Express</span>
                  </div>
                  <img class="blog123" src="/images/bus02.jpg" alt="bus4"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-30"
                  ><div class="element-item-overlay">
                    <span>JJ Express</span>
                  </div>
                  <img class="blog123" src="/images/busjj.jpg" alt="bus5"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-31"
                  ><div class="element-item-overlay">
                    <span>GI Express</span>
                  </div>
                  <img class="blog123" src="/images/bus13.jpg" alt="bus6"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-32"
                  ><div class="element-item-overlay">
                    <span>Shwe Lun Pyan Express</span>
                  </div>
                  <img class="blog123" src="/images/bus0001.jpeg" alt="bus7"
                /></a>
              </div>
            </div>
            <!-- end of grid -->
            <!-- end of filter -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of filter -->
    <!-- end of projects -->

    <!-- Project Lightboxes -->
    <!-- Lightbox -->
    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="images/bagan2.jpg" alt="Bagan" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ပုဂံ</h3>
          <hr class="line-heading" />
          <h6>ဘုရားဖူး နှင့် လေ့လာရေးခရီးစဉ်</h6>
          <p>
            ဘုရားဖူးထွက်ရင်း စိတ်အပန်းလဲပြေပြီး ဗဟုသုတတွေအများကြီး ရနိုင်မယ့်
            ခရီးစဉ်လေးတစ်ခုဆိုရင်လဲ မမှားပါဘူး။ လေ့လာရေးခရီးထွက်လိုသော
            ကျောင်းသားလူငယ်လေးတွေအနေနဲ့လဲ မြန်မာ့သမိုင်းဝင် အမွေအနှစ်များစွာကို
            စိတ်ဝင်စားဖွယ်ရာ လေ့လာနိုင်မှာဖြစ်ပြီး... Vlog
            ရိုက်ရတာကိုကြိုက်နှစ်သက်တဲ့ မိတ်ဆွေတို့အတွက်လဲ အရမ်းကိုသင့်တော်တဲ့
            ခရီးစဉ်လေးတစ်ခုဖြစ်ပါတယ်။ ။
          </p>
          <p>
            ပုဂံဘုရားဖူးခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/innlay5.jpg" alt="Innlay" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>အင်းလေး</h3>
          <hr class="line-heading" />
          <h6>အပန်းဖြေခရီးစဉ်</h6>
          <p>
            အင်းလေးရေပြင်ပေါ်မှ လတ်ဆတ်သော လေကောင်းလေသန့်လေးတွေနဲ့အတူ
            စိတ်အပန်းလဲပြေပြီး ဗဟုသုတတွေအများကြီး ရနိုင်မယ့်
            ခရီးစဉ်လေးတစ်ခုဆိုရင်လဲ မမှားပါဘူး။ လေ့လာရေးခရီးထွက်လိုသူတွေအနေနဲ့လဲ
            အင်းလေးရဲ့ ရိုးရာဓလေ့ ယဉ်ကျေးမှုတို့ကို လေ့လာနိုင်မှာဖြစ်ပြီး...
            Vlog ရိုက်ရတာကိုကြိုက်နှစ်သက်တဲ့ မိတ်ဆွေတို့အတွက်လဲ
            အရမ်းကိုသင့်တော်တဲ့ ခရီးစဉ်လေးတစ်ခုဖြစ်ပါတယ်။ ။
          </p>
          <p>
            အင်းလေး အပန်းဖြေခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img
            class="img-fluid im11"
            src="/images/Mrauk-U1.jpg"
            alt="Maruk-U"
          />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>မြောက်ဦး</h3>
          <hr class="line-heading" />
          <h6>ဘုရားဖူး နှင့် လေ့လာရေးခရီးစဉ်</h6>
          <p>
            သေသပ်အနုစိတ်ပြီး ကျနပြေပြစ်လှသည့် သမိုင်းဝင်လက်ရာများနှင့်အတူ
            ရှေးဘုရင်တို့ တည်ခဲ့သည့် ဘုရားမြောက်မြားစွာကို ကြည်ညိုဖွယ်ရာ
            ဖူးမြင်ရမည့် ခရီးစဉ်လေးပဲဖြစ်ပါတယ်။ ခရီးထွက်ရင်း
            ဗဟုသုတတွေအများကြီးရမယ့် ခရီးစဉ်လေးဆိုလဲ မမှားပါဘူး။ သဘာဝအလှအပကိုမှ
            ခံစားချင်တဲ့မိတ်ဆွေတို့အတွက်တော့ အရမ်းကို သင့်တော်တဲ့ခရီးစဉ်လေးပဲ
            ဖြစ်ပါတယ်။
          </p>
          <p>
            မြောက်ဦးခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/beach1.jpg" alt="Ngapali" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ငပလီ</h3>
          <hr class="line-heading" />
          <h6>ကမ်းခြေခရီးစဉ်</h6>
          <p>
            အလုပ်ရဲ့ပင်ပန်းမှုတွေကနေ ခဏတာ အပန်းဖြေအနားယူလိုသူတွေ နဲ့
            ပင်လယ်ပြင်ရဲ့အလှကို တစ်ဝကြီးကြည့်ရှုခံစားလိုတဲ့
            ပင်လယ်ချစ်သူလေးများအတွက် အရမ်းကိုသင့်တော်တယ် ခရီးစဉ်လေး ဖြစ်ပါတယ်။
          </p>
          <p>
            ငပလီကမ်းခြေခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/Ns4.jpg" alt="NgweSung" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ငွေဆောင်</h3>
          <hr class="line-heading" />
          <h6>ကမ်းခြေခရီးစဉ်</h6>
          <p>
            မိသားစု အပန်းဖြေခရီးစဉ်လေးတစ်ခုအနေနဲ့ အရမ်းကိုအဆင်ပြေပြီး
            ချစ်သူစုံတွဲလေးများအနေနဲ့လဲ အမှတ်တရလေးတွေများစွာကိုဖန်တီးနိုင်မယ့်
            ခရီးစဉ်လေး တစ်ခုဖြစ်ပါတယ်နော်။
          </p>
          <p>
            ငွေဆောင်ကမ်းခြေခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/ct1.jpg" alt="chaungtha" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ချောင်းသာ</h3>
          <hr class="line-heading" />
          <h6>ကမ်းခြေခရီးစဉ်</h6>
          <p>
            အုန်းစိမ်းရည်ချိုမြမြလေးကိုသုံးဆောင်ရင်း ပင်လယ်ကြီးရဲ့အလှအပကို
            ရှုစားရတာ ကြိုက်နှစ်သက်သူတွေ... ဘောကွင်းလေးနဲ့လှိုင်းလုံးစီးရတာ
            ကြိုက်နှစ်သက်သူတွေ အတွက်တော့ ဒီခရီးစဉ်လေးက အရမ်းကို
            ပျော်စရာကောင်းတဲ့ ခရီးစဉ်လေး ဖြစ်မှာပါဗျ။
          </p>
          <p>
            ချောင်းသာကမ်းခြေခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img
            class="img-fluid im11"
            src="/images/batethanoe3.jpg"
            alt="alternative"
          />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ပျူ ဿရေခေတ္တရာမြို့ဟောင်း</h3>
          <hr class="line-heading" />
          <h6>လေ့လာရေးခရီးစဉ်</h6>
          <p>
            ကျောင်းသားလူငယ်လေးတွေ အတွက် လေ့လာရေးခရီး ထွက်လို့ကောင်းတဲ့
            ခရီးစဉ်တစ်ခုဖြစ်ပြီး မြန်မာ့သမိုင်းနဲ့ ယဉ်ကျေးမှုအမွေအနှစ်များစွာကို
            တွေ့မြင်ကည့်ရှု လေ့လာနိုင်မယ့် ခရီးစဉ်တစ်ခု ဖြစ်ပါတယ်။
          </p>
          <p>
            ပျူ ဿရေခေတ္တရာမြို့ဟောင်းခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img
            class="img-fluid im11"
            src="/images/tunggyi2.jpg"
            alt="Taunggyi"
          />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ပြင်ဉီးလွင်မြို့</h3>
          <hr class="line-heading" />
          <h6>လေ့လာရေးခရီးစဉ်</h6>
          <p>
            နွေရာသီအပန်းဖြေခရီးစဉ်လေးအနေနဲ့
            အရမ်းကိုအဆင်ပြေစေမယ့်ခရီးစဉ်လေးတစ်ခုဖြစ်ပြီးတော့
            ပြင်ဦးလွင်မြို့အနှံ့ကို လည်ပတ်နိုင်မှာပဲဖြစ်ပါတယ်။
          </p>
          <p>
            ပြင်ဦးလွင်မြို့ခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-9" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img
            class="img-fluid im11"
            src="/images/pyinoolwin1.jpg"
            alt="PyinOoLwin"
          />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>တောင်ကြီးမြို့</h3>
          <hr class="line-heading" />
          <h6>လေ့လာရေးခရီးစဉ်</h6>
          <p>
            တောင်ပေါ်ဒေသကိုသွားရောက်လည်ပတ်ရတာကြိုက်နှစ်သက်တဲ့အပြင်
            အေးမြလတ်ဆတ်မှုအပြည့်နဲ့ လုံးဝကို freshဖြစ်မယ့် ခံစားချက်မျိုးကို
            နှစ်သက်တဲ့မိတ်ဆွေတို့အတွက် အရမ်းကို အဆင်ပြေစေမယ့်
            ခရီးစဉ်လေးပဲဖြစ်ပါတယ်။
          </p>
          <p>
            တောင်ကြီးမြို့ခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-10" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img
            class="img-fluid im11"
            src="/images/mandalay2.jpg"
            alt="Mandalay"
          />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>မန္တလေးမြို့</h3>
          <hr class="line-heading" />
          <h6>လေ့လာရေးခရီးစဉ်</h6>
          <p>
            မြန်မာ့ယဉ်ကျေးမှုအမွေအနှစ်များနှင့် မြန်မာမင်းအဆက်ဆက်
            မင်းပြုစိုးစံခဲ့ကြတဲ့ မြနန်းစံကျော်ရွှေနန်းတော်ကြီးကို
            သွားရောက်လေ့လာနိုင်ပါတယ်။ ဒါ့အပြင် ဦးပိန်တံတန်းမှာ
            နေဝင်ဆည်းဆာလေးကိုကြည့်ရင်း အပန်းဖြေနိုင်မယ့် ခရီးစဉ်လေးလဲဖြစ်ပါတယ်။
          </p>
          <p>
            မန္တလေးမြို့ခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-11" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bawdi1.jpg" alt="bawdi" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ဗောဓိတစ်ထောင်</h3>
          <hr class="line-heading" />
          <h6>ဘုရားဖူးခရီးစဉ်</h6>
          <p>
            ကြည်ညိုဖွယ်ရာ ဗုဒ္ဓဆင်းတုတော်များနှင့် စေတီများကို ဖူးမြော်ရင်း
            စိတ်ရဲ့အေးချမ်းမှုလေးတွေကို ခံစားရစေမယ့် ခရီးစဉ်လေးပဲဖြစ်ပါတယ်။
          </p>
          <p>
            ဗောဓိတစ်ထောင် ဘုရားဖူးခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-25" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/kkh.jpg" alt="KyikeHto" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ကျိုက်ထီးရိုး</h3>
          <hr class="line-heading" />
          <h6>ဘုရားဖူးခရီးစဉ်</h6>
          <p>
            ဆံတော်ရှင် ကျိုက်ထီးရိုး စေတီတော်ကြီးကိုဖူးမြော်ရင်း
            တောင်တန်းများရဲ့ အလှအပကို ခံစားပြီး အေးချမ်းကြည်နူးဖွယ်ကောင်းတဲ့
            ခံစားချက်လေးကိုရရှိမယ့် ခရီးစဉ်လေးပဲဖြစ်ပါတယ်။
          </p>
          <p>
            ကျိုက်ထီးရိုးဘုရားဖူးခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-12" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/mmmu.jpg" alt="mmmu" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>မဟာမြတ်မုနိ</h3>
          <hr class="line-heading" />
          <h6>ဘုရားဖူးခရီးစဉ်</h6>
          <p>
            မဟာမြတ်မုနိ ဘုရားကြီးကိုဖူးမြော်ရင်း စိတ်နှလုံးချမ်းမြေ့စွာဖြင့်
            အေးချမ်းကြည်နူးဖွယ်ကောင်းတဲ့ ခံစားချက်လေးကိုရရှိမယ့်
            ခရီးစဉ်လေးပဲဖြစ်ပါတယ်။
          </p>
          <p>
            မဟာမြတ်မုနိဘုရားဖူးခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-23" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/ptn2.jpg" alt="mmmu" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ပုသိမ်မြို့</h3>
          <hr class="line-heading" />
          <h6>လေ့လာရေးခရီးစဉ်</h6>
          <p>
            ပုသိမ်မြို့ရဲ့ ညအလှရော နေ့အလှရောကိုပါ ခံစားရမယ့်အပြင်..
            ရေပေါ်‌ဈေးမှာလဲမုန့်တွေ ပတ်စားလို့ရပါသေးတယ်ဗျ။ ပုသိမ်မြို့ ရဲ့
            အထင်ကရဖြစ်တဲ့ မြို့နာရီစဉ်ကိုလဲ တွေ့မြင်ရမှာ ဖြစ်ပြီး၊ မြန်မာ့
            ပုသိမ်ထီးရဲ့ အလှအပတွေနဲ့အတူ ပုသိမ်ဟာလဝါ လဲ လက်ဆောင်အနေနဲ့ အမှတ်တရ
            ဝယ်ယူနိုင်မယ့် ခရီးစဉ်လေး ဖြစ်ပါတယ်။
          </p>
          <p>
            ပုသိမ်မြို့ခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="tel:+95973238057">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">အချက်အလက်များ</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-13" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/gaw8.jpg" alt="gawyangyi" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ဂေါ်ရန်ဂျီကျွန်း</h3>
          <hr class="line-heading" />
          <h6>ကမ်းခြေခရီးစဉ်h6>
          <p>
            စိတ်ပင်ပန်းမှုများကို ပြေပျောက်စေပြီး ပင်လယ်ကြီးရဲ့အလှအပကို ခံစားလိုတဲ့ ပင်လယ်ချစ်သူများအတွက် အရမ်းကိုသင့်တော်တဲ့ ခရီးစဉ်တစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            ဂေါ်ရန်ဂျီကျွန်းခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-14" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/nshotel2.jpg" alt="Aureum Palace Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Aureum Palace</h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            Aureum Palace Hotel သည် ငွေဆောင်ကမ်းခြေခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Aureum Palace Hotelကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-15" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/nshotel4.jpg" alt="CENTRAL Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>CENTRAL</h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            CENTRAL Hotel သည် ငွေဆောင်ကမ်းခြေခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            CENTRAL Hotelကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-16" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/nshotel5.jpg" alt="CENTRAL Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ACE</h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            ACE Hotel သည် ငွေဆောင်ကမ်းခြေခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            ACE Hotelကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

     <!-- Lightbox -->
     <div id="project-17" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/cthotel1.jpg" alt="Chaung Thar Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Chaung Thar Lodge</h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            Chaung Thar Lodge Hotel သည် ချောင်းသာကမ်းခြေခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Chaung Thar Lodge Hotelကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-18" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/cthotel3.jpg" alt="Chaung Thar Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>New Chaung Thar </h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            New Chaung Thar Hotel သည် ချောင်းသာကမ်းခြေခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            New Chaung Thar Hotel ကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-19" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/kalawhotel6.jpg" alt="Kalaw Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Kalaw Heritage </h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            Kalaw Heritage Hotel သည် ကလောခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Kalaw Heritage Hotel ကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-20" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/taunggyi1.jpg" alt="Kalaw Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Royal Taunggyi </h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            Royal Taunggyi Hotel သည် တောင်ကြီးခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Royal Taunggyi Hotel ကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

     <!-- Lightbox -->
     <div id="project-21" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/pyinhotel02.jpg" alt="Sein Chuu Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Sein Chuu</h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            Hotel Sein Chuu သည် ပြင်ဦးလွင်ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Hotel Sein Chuu ကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-22" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bagan12.jpg" alt="Heritage Bagan Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Heritage Bagan</h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            Heritage Bagan Hotel သည် ပုဂံခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Heritage Bagan Hotel ကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-24" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/innlay11.jpg" alt="KMA Inle Hotel" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>KMA Inle</h3>
          <hr class="line-heading" />
          <h6>Hotel</h6>
          <p>
            KMA Inle Hotel သည် အင်းလေးခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာတည်းခိုနိုင်မယ့် ဟိုတယ်ကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
           KMA Inle Hotel ကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-26" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bus2.jpg" alt="Bus1" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>မန္တလာမင်း Express</h3>
          <hr class="line-heading" />
          <h6>Bus</h6>
          <p>
            မန္တလာမင်း Express သည် ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာသွားလာနိုင်မယ့် Busကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            မန္တလာမင်း Express နှင့်ခရီးသွားလိုပါက လူကြီးမင်းတို့အနေဖြင့် အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်စုံစမ်းနိုင်ပါသည်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-27" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bus7.jpg" alt="Bus2" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Academy Express</h3>
          <hr class="line-heading" />
          <h6>Bus</h6>
          <p>
            Academy Express သည် ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာသွားလာနိုင်မယ့် Busကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Academy Express နှင့်ခရီးသွားလိုပါက လူကြီးမင်းတို့အနေဖြင့် အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်စုံစမ်းနိုင်ပါသည်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-28" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bus11.jpeg" alt="Bus3" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Shwe Mandalar Express</h3>
          <hr class="line-heading" />
          <h6>Bus</h6>
          <p>
            Shwe Mandalar Express သည် ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာသွားလာနိုင်မယ့် Busကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Shwe Mandalar Express နှင့်ခရီးသွားလိုပါက လူကြီးမင်းတို့အနေဖြင့် အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်စုံစမ်းနိုင်ပါသည်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-29" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bus02.jpg" alt="Bus4" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Famous Express</h3>
          <hr class="line-heading" />
          <h6>Bus</h6>
          <p>
            Famous Express သည် ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာသွားလာနိုင်မယ့် Busကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Famous Express နှင့်ခရီးသွားလိုပါက လူကြီးမင်းတို့အနေဖြင့် အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်စုံစမ်းနိုင်ပါသည်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

     <!-- Lightbox -->
     <div id="project-30" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/busjj.jpg" alt="Bus5" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>JJ Express</h3>
          <hr class="line-heading" />
          <h6>Bus</h6>
          <p>
            JJ Express သည် ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာသွားလာနိုင်မယ့် Busကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            JJ Express နှင့်ခရီးသွားလိုပါက လူကြီးမင်းတို့အနေဖြင့် အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်စုံစမ်းနိုင်ပါသည်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

     <!-- Lightbox -->
     <div id="project-31" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bus13.jpg" alt="Bus6" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>GI Express</h3>
          <hr class="line-heading" />
          <h6>Bus</h6>
          <p>
            GI Express သည် ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာသွားလာနိုင်မယ့် Busကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            GI Express နှင့်ခရီးသွားလိုပါက လူကြီးမင်းတို့အနေဖြင့် အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်စုံစမ်းနိုင်ပါသည်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

     <!-- Lightbox -->
     <div id="project-32" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid im11" src="/images/bus0001.jpeg" alt="Bus7" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>Shwe Lun Pyan Express</h3>
          <hr class="line-heading" />
          <h6>Bus</h6>
          <p>
            Shwe Lun Pyan Express သည် ခရီးစဉ် ရွေးချယ်ထားသောမိတ်ဆွေများအတွက် စိတ်ချယုံကြည်စွာသွားလာနိုင်မယ့် Busကောင်းတစ်ခုဖြစ်ပါတယ်။
          </p>
          <p>
            Shwe Lun Pyan Express နှင့်ခရီးသွားလိုပါက လူကြီးမင်းတို့အနေဖြင့် အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်စုံစမ်းနိုင်ပါသည်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="https://www.w3schools.com/">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              အေးဂျင့်
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html"
            >အချက်အလက်များ</a
          >
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >နောက်သို့</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Contact -->
    <div id="contact" class="form-2">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="text-container">
                      <div class="section-title">ဆက်သွယ်ရန်</div>
                      <h2>TRAVEL BAG ကို အောက်ပါအတိုင်း ဆက်သွယ်နိုင်ပါသည်။</h2>
                      <p>TRAVEL BAG နှင့်အတူ အကျိုးတူ လုပ်ကိုင်လို၍ဖြစ်စေ၊ ကြော်ငြာများထည့်သွင်းလို၍ ဖြစ်စေ အောက်တွင်ပေးထားသော ဖုန်းနံပါတ်နှင့် Email ကိုဆက်သွယ်စုံစမ်း မေးမြန်းနိုင်ပါသည်။ </p>
                      <ul class="list-unstyled li-space-lg">
                          <li class="address"><img src="/images/map2.png" alt="locations"><i>  </i>7A groundflaw Mahabandula Street, Pathein, PTN 10011, Myanmar</li>
                          <li><img src="/images/call.png" alt="call"><i>  </i><a href="tel:+959757359906">+95 975 73 599 06</a></li>
                          <li><img src="/images/call.png" alt="call"><i>  </i><a href="tel:+959789807864">+95 978 98 078 64</a></li>
                          <li><img src="/images/email.png" alt="call"><i>  </i><a href="mailto:office@aria.com">travelbag@gmail.com</a></li>
                      </ul>
                      <h3>Travel Bag ကို လူကြီးမင်းတို့ရဲ့ Social Midea တွင် Follow လုပ်နိုင်ပါသည်။</h3>

                      <span class="fa-stack">
                          <a href="https://facebook.com/">
                              <span class="hexagon"></span>
                              <i ><img src="/images/facebook1.png" alt="facebook">    </i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="https://twitter.com/">
                              <span class="hexagon"></span>
                              <i><img src="/images/twitter.png" alt="twitter">    </i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="https://instagram.com/">
                              <span class="hexagon"></span>
                              <i><img src="/images/instagram.png" alt="instagram">     </i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="https://telegram.org/">
                              <span class="hexagon"></span>
                              <i><img src="/images/telegram.png" alt="telegram"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="https://www.skype.com/en/">
                              <span class="hexagon"></span>
                              <i><img src="/images/skype.png" alt="skype"></i>
                          </a>
                      </span>
                      <!-- <span class="fa-stack">
                          <a href="https://www.viber.com/en/?utm_source=Partner&utm_medium=Sharebutton&utm_campaign=Defualt">
                              <span class="hexagon"></span>
                              <i><img src="/images/viber.png" alt="viber"></i>
                          </a>
                      </span> -->
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6">
                <img src="/images/images/undraw_departing_re_mlq3.svg " alt="" width="100%">
              </div>

          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of form-2 -->
  <!-- end of contact -->

    


    <!-- Scripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <!-- <script src="/javascripts/jquery.easing.min.js"></script> -->
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="/javascripts/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/javascripts/scripts.js"></script>
    <!-- Custom scripts -->
  </body>
  <footer>
  <% include ./partials/footer %>
  </footer>
</html>
