<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    
    <style>
      .blog123{
        height: 270px;
      }

    .phone123 {
      width: 25px;
      height: 25px;
    }


    </style>

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
      rel="stylesheet"
    />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body data-spy="scroll" data-target=".fixed-top">
    <a href="body" class="back-to-top page-scroll" style="display: inline"
      >Back to Top</a
    >
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <% include ./partials/navbar %>
    <!-- this is nav  -->

    <!-- Header -->
    <header id="header" class="header">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-container">
                <h1>
                  TRAVEL BAG နှင့် အတူ
                  <span id="js-rotating"
                    >ဘုရားဖူးခရီးစဥ်များ, အပန်းဖြေခရီးများ, လေ့လာရေးခရီးများ,
                    မိသားစုခရီးစဥ်များ </span
                  ><span>ကို</span>
                </h1>
                <br />
                <p class="p-heading p-large font">
                  လူကြီးမင်းတို့အနေဖြင့် စိတ်ချယုံကြည်စွာ သွားရောက်လည်ပတ်ရင်း
                  ပျော်ရွှင်စရာ အမှတ်တရလေးတွေကို ဖန်တီးနိုင်ပါပြီ...
                  <b>TRAVEL BAG</b> မှတစ်ဆင့် သွားရောက်လည်ပတ်နိုင်သော
                  ခရီးစဥ်များကို အသေးစိတ် ပိုမိုလေ့လာလိုပါက
                  အောက်တွင်ဖော်ပြထားသော <b>(အကောင့်ပြုလုပ်ရန်)</b> ခလုတ်လေးကို
                  နှိပ်၍ <b>TRAVEL BAG</b> အကောင့်ပြုလုပ်ပြီး ဝင်ရောက်
                  လေ့လာနိုင်ပါသည်။
                </p>
                <a class="btn-solid-lg page-scroll" href="/account"
                  >အကောင့်ပြုလုပ်ရန်</a
                >
              </div>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </div>
      <!-- end of header-content -->
    </header>

    <!-- Intro -->
    <div id="intro" class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="text-container">
              <div class="section-title">မိတ်ဆက်</div>
              <h3>
                ကျွန်ုပ်တို့ TRAVEL BAG Website Page သည် လူကြီးမင်းတို့ရဲ့
                ခရီးစဥ်များကို လွယ်ကူချောမွေ့စွာ သွားရောက်လည်ပတ်နိုင်ရန်
                ရည်ရွယ်၍ တည်ထောင်ထားသော Travel Website Page တစ်ခု ဖြစ်ပါသည်။
              </h3>
              <p>
                ခရီးသွားရတာကို ကြိုက်နှစ်သက်လို့ပဲဖြစ်ဖြစ်၊ အလုပ်ရဲ့
                ပင်ပန်းမှုဒဏ်တွေကနေ ခဏတာ အပန်းဖြေအနားယူချင်လို့ပဲဖြစ်ဖြစ်၊
                မိသားစုအပျော်ခရီးထွက်ချင်တာပဲဖြစ်ဖြစ် ကျွန်တော်တို့ရဲ့
                <strong>TRAVEL BAG</strong> Website Page လေးက မိတ်ဆွေတို့ အတွက်
                အမြဲရှိနေမှာပါ။ <br />
                ဒါ့အပြင်... လေ့လာရေးခရီးထွက်ချင်တဲ့ ကျောင်းသားလူငယ်လေးတွေအတွက်လဲ
                အဆင်ပြေမှာ ဖြစ်ပြီး၊ ပျားရည်စမ်းခရီးလေးကိုမှ အတူတူ
                စိတ်အေးလက်အေးထွက်ချင်ကြတဲ့ ချစ်သူစုံတွဲလေးတွေအတွက်လဲ
                အဆင်ပြေတာမို့ ကျွန်တော်တို့ရဲ့
                <strong>TRAVEL BAG</strong> Website page လေးကို လာရောက်
                ကြည့်ရှုကြဖို့ ဖိတ်ခေါ်လိုက်ပါတယ်ခင်ဗျ။
              </p>
              <p class="testimonial-text">
                "လုပ်ငန်းရှင်များ၊ Company များ အနေဖြင့်လဲ ကျွန်တော်တို့ရဲ့
                <strong>TRAVEL BAG</strong> ခရီးသွား Website နှင့် ပတ်သတ်ပြီး
                စိတ်ဝင်စား၍ ဖြစ်စေ၊ အကျိုးတူ လုပ်ကိုင်လို၍ဖြစ်စေ၊ ကြော်ငြာများ
                ထည့်သွင်းလို၍ဖြစ်စေ ဆက်သွယ်စုံစမ်းနိုင်ကြောင်း အသိပေးအပ်ပါသည်။
                ကျွန်တော်တို့ရဲ့ <strong>TRAVEL BAG </strong> ကနေ
                နွေးထွေးစွာဖြင့် ကြိုဆိုလျက်ပါ "<br />
              </p>
              <div class="testimonial-author">U Bhone Thit Aung - CEO</div>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-7">
            <div class="image-container">
              <img
                class="img-fluid"
                style="margin-top: 30px"
                src="/images/back_img.jpg"
                alt="alternative"
              />

              

              
              <div class="card rounded" style="width: 25rem;box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; " id="text-body">
                <div class="card-body">
                  
                    <h4 class="card-title">
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  <p>ကျွန်တော်တို့ရဲ့ <strong>TRAVEL BAG</strong> ကမိတ်ဆွေတို့အတွက် အမြဲတမ်း အတူရှိနေမှာပါ ...</p>
                  <p class="font-size: 20px;">ခရီးသွားချစ်သူများ အတွက် <strong>TRAVEL BAG ...</strong></p>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                    </h4>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="card-link">Card link</a> -->
                  <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
              
            </div>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of intro -->

    <!-- Projects -->
    <div id="projects" class="filter">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">အကြံပေးထားသောခရီးစဥ်များ</div>
            <h2>
              မိတ်ဆွေတို့ သွားရောက်လိုသော ခရီးစဥ်များကို အကောင့်ပြုလုပ်ပြီး
              အသေးစိတ်ကြည့်ရှုနိုင်ပါသည်။
            </h2>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Filter -->
            <div class="button-group filters-button-group">
              <a class="button is-checked" data-filter="*"
                ><span>အားလုံး</span></a
              >
              <a class="button" data-filter=".design"
                ><span>ဘုရားဖူးခရီးစဥ်များ</span></a
              >
              <a class="button" data-filter=".development"
                ><span>ကမ်းခြေခရီးစဉ်များ</span></a
              >
              <a class="button" data-filter=".marketing"
                ><span>လေ့လာရေးခရီးစဥ်များ</span></a
              >
            </div>
            <!-- end of button group -->

            <div class="grid">
              <div class="element-item design marketing">
                <a class="popup-with-move-anim" href="#project-1"
                  ><div class="element-item-overlay">
                    <span>ပုဂံဘုရားဖူးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/bagan2.jpg" alt="Bagan"
                /></a>
              </div>

              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-2"
                  ><div class="element-item-overlay">
                    <span>အင်းလေးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/innlay5.jpg" alt="Innlay"
                /></a>
              </div>

              <div class="element-item design marketing">
                <a class="popup-with-move-anim" href="#project-3"
                  ><div class="element-item-overlay">
                    <span>မြောက်ဦးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/Mrauk-U1.jpg" alt="Mrauk-U"
                /></a>
              </div>

              <div class="element-item development">
                <a class="popup-with-move-anim" href="#project-4"
                  ><div class="element-item-overlay">
                    <span>ငပလီကမ်းခြေခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/beach1.jpg" alt="Ngapali"
                /></a>
              </div>
            <!-- end of grid -->
            <!-- end of filter -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of filter -->
    <!-- end of projects -->

     <!-- Lightbox -->
     <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid"  src="images/bagan2.jpg" alt="Bagan" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ပုဂံ</h3>
          <hr class="line-heading" />
          <h6>ဘုရားဖူး နှင့် လေ့လာရေးခရီးစဉ်</h6>
          <p>
            ဘုရားဖူးထွက်ရင်း စိတ်အပန်းလဲပြေပြီး ဗဟုသုတတွေအများကြီး ရနိုင်မယ့်
            ခရီးစဉ်လေးတစ်ခုဆိုရင်လဲ မမှားပါဘူး။ လေ့လာရေးခရီးထွက်လိုသော
            ကျောင်းသားလူငယ်လေးတွေအနေနဲ့လဲ မြန်မာ့သမိုင်းဝင် အမွေအနှစ်များစွာကို
            စိတ်ဝင်စားဖွယ်ရာ လေ့လာနိုင်မှာဖြစ်ပြီး... Vlog
            ရိုက်ရတာကိုကြိုက်နှစ်သက်တဲ့ မိတ်ဆွေတို့အတွက်လဲ အရမ်းကိုသင့်တော်တဲ့
            ခရီးစဉ်လေးတစ်ခုဖြစ်ပါတယ်။ ။
          </p>
          <p>
            ပုဂံဘုရားဖူးခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              Agent
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">DETAILS</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >BACK</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid" src="/images/innlay5.jpg" alt="Innlay" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>အင်းလေး</h3>
          <hr class="line-heading" />
          <h6>အပန်းဖြေခရီးစဉ်</h6>
          <p>
            အင်းလေးရေပြင်ပေါ်မှ လတ်ဆတ်သော လေကောင်းလေသန့်လေးတွေနဲ့အတူ
            စိတ်အပန်းလဲပြေပြီး ဗဟုသုတတွေအများကြီး ရနိုင်မယ့်
            ခရီးစဉ်လေးတစ်ခုဆိုရင်လဲ မမှားပါဘူး။ လေ့လာရေးခရီးထွက်လိုသူတွေအနေနဲ့လဲ
            အင်းလေးရဲ့ ရိုးရာဓလေ့ ယဉ်ကျေးမှုတို့ကို လေ့လာနိုင်မှာဖြစ်ပြီး...
            Vlog ရိုက်ရတာကိုကြိုက်နှစ်သက်တဲ့ မိတ်ဆွေတို့အတွက်လဲ
            အရမ်းကိုသင့်တော်တဲ့ ခရီးစဉ်လေးတစ်ခုဖြစ်ပါတယ်။ ။
          </p>
          <p>
            အင်းလေး အပန်းဖြေခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              Agent
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">DETAILS</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >BACK</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img
            class="img-fluid"
            src="/images/Mrauk-U1.jpg"
            alt="Maruk-U"
          />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>မြောက်ဦး</h3>
          <hr class="line-heading" />
          <h6>ဘုရားဖူး နှင့် လေ့လာရေးခရီးစဉ်</h6>
          <p>
            သေသပ်အနုစိတ်ပြီး ကျနပြေပြစ်လှသည့် သမိုင်းဝင်လက်ရာများနှင့်အတူ
            ရှေးဘုရင်တို့ တည်ခဲ့သည့် ဘုရားမြောက်မြားစွာကို ကြည်ညိုဖွယ်ရာ
            ဖူးမြင်ရမည့် ခရီးစဉ်လေးပဲဖြစ်ပါတယ်။ ခရီးထွက်ရင်း
            ဗဟုသုတတွေအများကြီးရမယ့် ခရီးစဉ်လေးဆိုလဲ မမှားပါဘူး။ သဘာဝအလှအပကိုမှ
            ခံစားချင်တဲ့မိတ်ဆွေတို့အတွက်တော့ အရမ်းကို သင့်တော်တဲ့ခရီးစဉ်လေးပဲ
            ဖြစ်ပါတယ်။
          </p>
          <p>
            မြောက်ဦးခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              Agent
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">DETAILS</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >BACK</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-8">
          <img class="img-fluid" src="/images/beach1.jpg" alt="Ngapali" />
        </div>
        <!-- end of col -->
        <div class="col-lg-4">
          <h3>ငပလီ</h3>
          <hr class="line-heading" />
          <h6>ကမ်းခြေခရီးစဉ်</h6>
          <p>
            အလုပ်ရဲ့ပင်ပန်းမှုတွေကနေ ခဏတာ အပန်းဖြေအနားယူလိုသူတွေ နဲ့
            ပင်လယ်ပြင်ရဲ့အလှကို တစ်ဝကြီးကြည့်ရှုခံစားလိုတဲ့
            ပင်လယ်ချစ်သူလေးများအတွက် အရမ်းကိုသင့်တော်တယ် ခရီးစဉ်လေး ဖြစ်ပါတယ်။
          </p>
          <p>
            ငပလီကမ်းခြေခရီးစဉ်လေးကို စိတ်ဝင်စားပါက မိတ်ဆွေအနေဖြင့်
            အောက်တွင်ဖော်ပြထားသော အေးဂျင့်ထံတွင် အသေးစိတ်
            လေ့လာစုံစမ်းနိုင်ပါတယ်။
          </p>
          <div class="testimonial-container">
            <p class="testimonial-text">
              <img class="phone123" src="/images/phone-call.png" alt="phone" />
              <a href="#">0973238057</a>
            </p>
            <p class="testimonial-author">
              <img class="phone123" src="/images/ag1.png" alt="agent" />
              Agent
            </p>
          </div>
          <a class="btn-solid-reg" href="https://technext.github.io/vacation/index.html">DETAILS</a>
          <a class="btn-outline-reg mfp-close as-button" href="#projects"
            >BACK</a
          >
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Contact -->
    <div id="contact" class="form-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-container">
              <div class="section-title">ဆက်သွယ်ရန်</div>
              <h2>TRAVEL BAG ကို အောက်ပါအတိုင်း ဆက်သွယ်နိုင်ပါသည်။</h2>
              <p>
                TRAVEL BAG နှင့်အတူ အကျိုးတူ လုပ်ကိုင်လို၍ဖြစ်စေ၊
                ကြော်ငြာများထည့်သွင်းလို၍ ဖြစ်စေ အောက်တွင်ပေးထားသော
                ဖုန်းနံပါတ်နှင့် Email ကိုဆက်သွယ်စုံစမ်း မေးမြန်းနိုင်ပါသည်။
              </p>
              <ul class="list-unstyled li-space-lg">
                <li class="address">
                  <img src="/images/map2.png" alt="locations" /><i> </i>7A
                  groundflaw Mahabandula Street, Pathein, PTN 10011, Myanmar
                </li>
                <li>
                  <img src="/images/call.png" alt="call" /><i> </i
                  ><a href="tel:+959757359906">+95 975 73 599 06</a>
                </li>
                <li>
                  <img src="/images/call.png" alt="call" /><i> </i
                  ><a href="tel:+959789807864">+95 978 98 078 64</a>
                </li>
                <li>
                  <img src="/images/email.png" alt="call" /><i> </i
                  ><a href="mailto:office@aria.com">travelbag@gmail.com</a>
                </li>
              </ul>
              <h3>Follow Travel Bag On Social Media</h3>

              <span class="fa-stack">
                <a href="#your-link">
                  <span class="hexagon"></span>
                  <i><img src="/images/facebook1.png" alt="facebook" /> </i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="#your-link">
                  <span class="hexagon"></span>
                  <i><img src="/images/twitter.png" alt="twitter" /> </i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="#your-link">
                  <span class="hexagon"></span>
                  <i><img src="/images/instagram.png" alt="instagram" /> </i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="#your-link">
                  <span class="hexagon"></span>
                  <i><img src="/images/telegram.png" alt="telegram" /></i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="#your-link">
                  <span class="hexagon"></span>
                  <i><img src="/images/skype.png" alt="skype" /></i>
                </a>
              </span>
              <span class="fa-stack">
                <a href="#your-link">
                  <span class="hexagon"></span>
                  <i><img src="/images/viber.png" alt="viber" /></i>
                </a>
              </span>
            </div>
            <!-- end of text-container -->
          </div>
          <div class=" col-lg-5  mt-5" id="form-gp" >
            <!-- Contact Form -->
              <form id="contactForm" data-toggle="validator" data-focus="false" class="connect">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control-input"
                    id="cname"
                    required
                  />
                  <label class="label-control" for="cname">Name</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control-input"
                    id="cemail"
                    required
                  />
                  <label class="label-control" for="cemail">Email</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control-textarea"
                    id="cmessage"
                    required
                  ></textarea>
                  <label class="label-control" for="cmessage">Your message</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group checkbox">
                  <input
                    type="checkbox"
                    id="cterms"
                    value="Agreed-to-Terms"
                    required
                  />I agree with Travel Bag's stated
                  <a href="privacy-policy.html">Privacy Policy</a> and
                  <a href="terms-conditions.html">Terms Conditions</a>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <button type="submit" class="form-control-submit-button">
                    SEND MESSAGE
                  </button>
                </div>
                <div class="form-message">
                  <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                </div>
              </form>
            
            <!-- end of contact form -->
          </div>
          <!-- end of col -->
          
          <!-- end of col -->
        </div>
        
        <!-- end of row -->
      </div>
      
      <!-- end of container -->
    </div>
    <!-- end of form-2 -->
    <!-- end of contact -->

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="text-container about">
              <h4>Few Words About TRAVEL BAG</h4>
              <p class="white">
                We will always make the best website and make it happy for those
                who love to travel. For your trip, open an account on Travel Bag
                now and access it.
              </p>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Links</h4>
              <ul class="list-unstyled li-space-lg white">
                <li>
                  <a class="white" href="/">travelbag.com</a>
                </li>
                <li>
                  <a class="white" href="/users/agentpage"
                    >Contact with Agents</a
                  >
                </li>
                <li>
                  <a class="white" href="privacy-policy.html">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Tools</h4>
              <ul class="list-unstyled li-space-lg">
                <li>
                  <a class="white" href="about">What is Travel Bag?</a>
                </li>
                <li>
                  <a class="white" href="/users/nsignup">Signup Accoount</a>
                </li>
                <li class="media">
                  <a class="white" href="#your-link">Developers</a>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-md-2">
            <div class="text-container">
              <h4>Partners</h4>
              <ul class="list-unstyled li-space-lg">
                <li>
                  <a class="white" href="https://techhouse.tech">TECH HOUSE</a>
                </li>
                <li>
                  <a
                    class="white"
                    href="https://www.agoda.com/search?device=c&network=g&adid=578521311774&rand=8550497045181996344&expid=&adpos=&aud=kwd-377647966256&selectedproperty=433190&city=514493&site_id=1891449&tag=20af1f73-c07d-0ede-a76a-e169b0836e9b"
                    >HOTEL ACE</a
                  >
                </li>
                <li>
                  <a
                    class="white"
                    href="https://www.goldendragonbus.com/news/272814.html"
                    >GOLDEN DRAGON BUS</a
                  >
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">
              Copyright © 2022
              <a href="/">travelbag.com. All Rights Reserved.</a>
            </p>
          </div>
          <!-- end of col -->
        </div>
        <!-- enf of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->

    <!-- Scripts -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="/javascripts/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/javascripts/scripts.js"></script>
    <!-- Custom scripts -->
  </body>
</html>
