<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>map</title>
  </head>
  <body>
    <iframe
      src="https://www.google.com.sg/maps/place/Tech+House/@16.7873706,94.7254858,14z/data=!4m5!3m4!1s0x30bfebf9d4ced8e9:0x8c1920512b03daf9!8m2!3d16.784645!4d94.7386168"
      frameborder="3"
      width="100%"
      height="900vh"
    ></iframe>
  </body>
</html>
