<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/search-style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/agent-post-list.css" />

    <!-- <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/agent-post-list.css" /> -->
  </head>
  <style>
    .blog123 {
      height: 270px;
    }
  </style>
  <body style="background-color: #7f7fd5">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- this is nav bar -->
    <% include ./partials/navbar %>
    <!-- this is nav  -->
    <div class="form-group pull-right center-box" style="margin-top: 15%">
      <input
        type="text"
        class="search form-control"
        placeholder="What you looking for?"
      />
    </div>
    <span class="counter pull-right center-box"></span>
    <div class="center-box">
      <!-- <table class="table noborder">
        <thead>
          <tr>
            <th class="col-md-7 col-xs-7">Name / Surname</th>
            <th class="col-md-6 col-xs-6">Job</th>
          </tr>
          <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
          </tr>
        </thead> -->
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div id="projects" class="filter">
              <div class="container">
                <div class="row">
                  <!-- <div class="col-lg-12">
                    <div class="section-title" style="text-align: center">
                      ခရီးစဥ်များ
                    </div>
                  </div> -->
                  <!-- end of col -->
                </div>
                <!-- end of row -->
                <div class="row">
                  <div class="col-lg-12">
                    <!-- Filter -->

                    <div class="button-group filters-button-group">
                      <a class="button is-checked" data-filter="*">
                        <span>အားလုံး</span></a
                      >
                      <a class="button" data-filter=".design"
                        ><span>ဘုရားဖူးခရီးစဥ်များ</span></a
                      >
                      <a class="button" data-filter=".development"
                        ><span>ကမ်းခြေခရီးစဉ်များ</span></a
                      >
                      <a class="button" data-filter=".marketing"
                        ><span>လေ့လာရေးခရီးစဥ်များ</span></a
                      >
                      <a class="button" data-filter=".seo"
                        ><span>ဟိုတယ်များ</span></a
                      >
                      <a class="button" data-filter=".bus"
                        ><span>BUS များ</span></a
                      >
                    </div>
                    <!-- end of button group -->
                    <!-- end of grid -->
                    <!-- end of filter -->
                  </div>
                  <!-- end of col -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of container -->
            </div>
          </div>
          <div class="col-lg-5" style="justify-content: center">
            <div class="grid">
              <div class="element-item design marketing">
                <a class="popup-with-move-anim" href="#project-1"
                  ><div class="element-item-overlay">
                    <span>ပုဂံဘုရားဖူးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/bagan2.jpg" alt="Bagan"
                /></a>
              </div>

              <div class="element-item development">
                <a class="popup-with-move-anim" href="#project-4"
                  ><div class="element-item-overlay">
                    <span>ငပလီကမ်းခြေခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/beach1.jpg" alt="Ngapali"
                /></a>
              </div>

              <div class="element-item development">
                <a class="popup-with-move-anim" href="#project-5"
                  ><div class="element-item-overlay">
                    <span>ငွေဆောင်ကမ်းခြေခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/Ns4.jpg" alt="NgweSung"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-24"
                  ><div class="element-item-overlay">
                    <span>KMA Inle Hotel</span>
                  </div>
                  <img class="blog123" src="/images/innlay11.jpg" alt="hote21"
                /></a>
              </div>

              <div class="element-item bus">
                <a class="popup-with-move-anim" href="#project-26"
                  ><div class="element-item-overlay">
                    <span>မန္တလာမင်း Express</span>
                  </div>
                  <img class="blog123" src="/images/bus2.jpg" alt="bus1"
                /></a>
              </div>
            </div>
          </div>

          <div class="col-lg-5" style="justify-content: center">
            <div class="grid">
              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-10"
                  ><div class="element-item-overlay">
                    <span>မန္တလေးမြို့ခရီးစဉ်</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/mandalay2.jpg"
                    alt="Mandalay"
                /></a>
              </div>

              <div class="element-item design">
                <a class="popup-with-move-anim" href="#project-25"
                  ><div class="element-item-overlay">
                    <span>ကျိုက်ထီးရိုးဘုရားဖူးခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/kkh.jpg" alt="KyikeHto"
                /></a>
              </div>

              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-16"
                  ><div class="element-item-overlay">
                    <span>ACE Hotel</span>
                  </div>
                  <img class="blog123" src="/images/nshotel5.jpg" alt="hotel3"
                /></a>
              </div>
              <div class="element-item marketing">
                <a class="popup-with-move-anim" href="#project-23"
                  ><div class="element-item-overlay">
                    <span>ပုသိမ်မြို့ခရီးစဉ်</span>
                  </div>
                  <img class="blog123" src="/images/ptn2.jpg" alt="Pathein"
                /></a>
              </div>
              <div class="element-item seo">
                <a class="popup-with-move-anim" href="#project-19"
                  ><div class="element-item-overlay">
                    <span>Kalaw Heritage Hotel</span>
                  </div>
                  <img
                    class="blog123"
                    src="/images/kalawhotel6.jpg"
                    alt="hotel7"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <tbody>
          <tr>
            <td>Vatanay Özbeyli</td>
            <td>UI & UX</td>
          </tr>
          <tr>
            <td>Burak Özkan</td>
            <td>Software Developer</td>
          </tr>
          <tr>
            <td>Egemen Özbeyli</td>
            <td>Purchasing</td>
          </tr>
          <tr>
            <td>Engin Kızıl</td>
            <td>Sales</td>
          </tr> -->

      <!-- </tbody>
      </table> -->
    </div>
    <% include ./partials/footer %>
  </body>

  <!-- Scripts -->
  <script src="/javascripts/jquery.min.js"></script>
  <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="/javascripts/popper.min.js"></script>
  <!-- Popper tooltip library for Bootstrap -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- Bootstrap framework -->
  <script src="/javascripts/jquery.easing.min.js"></script>
  <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="/javascripts/swiper.min.js"></script>
  <!-- Swiper for image and text sliders -->
  <script src="/javascripts/jquery.magnific-popup.js"></script>
  <!-- Magnific Popup for lightboxes -->
  <script src="/javascripts/morphext.min.js"></script>
  <!-- Morphtext rotating text in the header -->
  <script src="/javascripts/isotope.pkgd.min.js"></script>
  <!-- Isotope for filter -->
  <script src="/javascripts/validator.min.js"></script>
  <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="/javascripts/scripts.js"></script>
  <!-- Custom scripts -->
</html>
