.center-box {
  padding: 10px 10px;
}
.noborder td,
.noborder th {
  border-bottom: none !important;
  border-top: none !important;
  border-left: 1px solid white;
}
table {
  border: 2px solid white;
}
.results tr[visible="false"],
.no-result {
  display: none;
}

.results tr[visible="true"] {
  display: table-row;
}

.counter {
  padding: 8px;
  color: #ccc;
}

/*  */

a.back-to-top {
  position: fixed;
  z-index: 999;
  right: 0.75rem;
  bottom: 0.75rem;
  display: none;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 1.875rem;
  background: #14bf98 url("/images/up-arrow.png") no-repeat center 47%;
  background-size: 1.125rem 1.125rem;
  text-indent: -9999px;
}

a:hover.back-to-top {
  background-color: #13aa87;
}
