<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../stylesheets/bootstrap.css" rel="stylesheet" />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <style>
      .bta1212 {
        background-color: #14bf98;
        border: #14bf98;
      }
      .input-boxe {
        position: relative;
        padding-top: 23px;
        padding-bottom: 23px;
      }
      .input-box {
        position: relative;
        padding-top: 23px;
        padding-bottom: 23px;
      }
      .input-box-new {
        position: relative;
        padding-top: 23px;
        padding-bottom: 23px;
      }
      .input-box-confirm {
        position: relative;
        padding-top: 23px;
        padding-bottom: 23px;
      }
      .show_hide {
        padding: 15px 15px;
        background-color: #efefef;
        border: 1px solid darkgray;
      }
      .new {
        padding: 15px 15px;
        background-color: #efefef;
        border: 1px solid darkgray;
      }
      .confirm {
        padding: 15px 15px;
        background-color: #efefef;
        border: 1px solid darkgray;
      }
    </style>
  </head>
  <body>
    <section class="vh-200" style="background-color: #113448">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-200">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img
                    src="/images/normalLogin.svg"
                    alt="login form"
                    class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem"
                  />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="h1 fw-bold mb-0" style="color: #14bf98"
                          >TRAVEL BAG</span
                        >
                      </div>

                      <% if(typeof message !== 'undefined'){ %>
                      <div
                        class="alert alert-danger alert-dismissible fade show"
                      >
                        <button
                          type="button"
                          class="close"
                          data-dismiss="alert"
                        >
                          &times;
                        </button>
                        <h2 style="font-weight: lighter; font-size: small">
                          <%= message %>
                        </h2>
                      </div>
                      <% } %>

                      <h5
                        class="fw-normal mb-3 pb-3"
                        style="letter-spacing: 1px"
                      >
                        စကားဝှက် ပြောင်းလဲရန်
                      </h5>
                      <form action="/users/normal-change-password" method="post">

                        <div class="form-outline mb-2">
                          <label class="form-label" for="normalEmail"
                            >အီးမေးလ်</label
                          >
  
                          <div class="input-group">
                            <input
                              class="form-control input-boxe"
                              type="email"
                              id="normalEmail"
                              name="normalEmail"
                              placeholder="အီးမေးလ် ထည့်ပါ"
                              required
                            />
                          </div>

                        <div class="form-outline mb-2">
                          <label class="form-label" for="normalPassword"
                            >စကားဝှက် အဟောင်း</label
                          >
  
                          <div class="input-group">
                            <input
                              class="form-control input-box"
                              type="password"
                              id="normalOldPassword"
                              name="normalOldPassword"
                              placeholder="စကားဝှက် အဟောင်း"
                              required
                            />
                            <div class="input-group-addon">
                              <i
                                class="fa fa-eye-slash show_hide"
                                aria-hidden="true"
                              ></i>
                            </div>
                          </div>
                        </div>
                        <div class="form-outline mb-2">
                          <label class="form-label" for="normalPassword"
                            >စကားဝှက် အသစ်</label
                          >
  
                          <div class="input-group">
                            <input
                              class="form-control input-box-new"
                              type="password"
                              id="normalNewPassword"
                              name="normalNewPassword"
                              placeholder="စကားဝှက် အသစ်"
                              required
                            />
                            <div class="input-group-addon">
                              <i
                                class="fa fa-eye-slash new"
                                aria-hidden="true"
                              ></i>
                            </div>
                          </div>
                        </div>
                        <div class="form-outline mb-2">
                        </div>
                        <div class="pt-1 mb-4">
                          <button
                            class="btn btn-dark bta1212 btn-lg btn-block"
                            type="submit"
                          >
                            စကားဝှက်ပြောင်းလဲမည်
                          </button>
                        </div>
                      </form>
                      <div class="pt-1 mb-4">
                        <a style="text-decoration: none;" href="/users/nprofile"><input class="btn btn-dark bta1212 btn-lg btn-block" type="buttom" value="နောက်သို့"></a>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/pShow_Hide.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script> -->
  <script>
    // $("#rememberMe").click(function () {
    //   if ($("#rememberMe").prop("checked")) {
    //     Cookies.set("normalEmail", $("#normalEmail").val())
    //     Cookies.set("normalPassword", $("#normalPassword").val())
    //   } else {
    //     Cookies.remove("normalEmail")
    //     Cookies.remove("normalPassword")
    //   }
    // })
    // if (Cookies.get("normalEmail")) {
    //   $("#normalEmail").val(Cookies.get("normalEmail"))
    //   $("#normalPassword").val(Cookies.get("normalPassword"))
    //   $("#rememberMe").prop("checked", "true")
    // }
    // $("#subBtn").click(() => {
    //   $("#myform").validate({
    //     submitHandler: function (form) {
    //       // some other code
    //       // maybe disabling submit button
    //       // then:
    //       $(form).submit();
    //     },
    //   });
    // });
  </script>
</html>
