<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../stylesheets/bootstrap.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <style>
      .bta1213 {
        background-color: #14bf98;
        border: #14bf98;
      }
    </style>
  </head>
  <body>
    <section class="vh-150" style="background-color: #14bf98">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                    alt="login form"
                    class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem"
                  />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form action="/users/nsignup" method="post">
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <i
                          class="fas fa-cubes fa-2x me-3"
                          style="color: #ff6219"
                        ></i>
                        <span class="h1 fw-bold mb-0">TRAVEL BAG</span>
                      </div>

                      <h5
                        class="fw-normal mb-3 pb-3"
                        style="letter-spacing: 1px"
                      >
                        SignUp your account
                      </h5>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="name">Name</label>
                        <input
                          type="text"
                          name="normalName"
                          id="normalName"
                          class="form-control form-control-lg"
                          placeholder="name"
                          required
                        />
                        <span id="error"></span>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="email"
                          >Email address</label
                        >
                        <input
                          type="email"
                          name="normalEmail"
                          id="normalEmail"
                          class="form-control form-control-lg"
                          placeholder="email address"
                          required
                        />
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="password"
                          >Password</label
                        >
                        <input
                          type="password"
                          name="normalPassword"
                          id="normalPassword"
                          class="form-control form-control-lg"
                          placeholder="password"
                          required
                        />
                      </div>

                      <div class="pt-1 mb-4">
                        <button
                          class="btn btn-dark bta1213 btn-lg btn-block"
                          type="submit"
                          onclick="singupErrorMessage()"
                        >
                          SignUp
                        </button>
                      </div>

                      <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                      <!-- <p class="mb-5 pb-lg-2" style="color: #393f81">
                        Don't have an account?
                        <a href="#!" style="color: #393f81">Register here</a>
                      </p> -->
                      <a href="#!" class="small text-muted">Terms of use.</a>
                      <a href="#!" class="small text-muted">Privacy policy</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $("#normalName").blur(function () {
      if ($("#normalName").val() != "") {
        $.ajax("/users/checkname", {
          type: "POST",
          data: { normalName: $("#normalName").val() },
          success: function (result) {
            if (result.status == "error") {
              alert("Somethings Was Wrong!");
            } else if (result.status == "username have") {
              // alert("Username is already in use, try another username");
              Swal.fire({
                title: "ရှိပြီးသား အမည် ဖြစ်ပါသည်။တခြား အမည် အသုံးပြုပါ။",
                showClass: {
                  popup: "animate__animated  animate__fadeInDown",
                },
                hideClass: {
                  popup: "animate__animated animate__fadeOutUp",
                },
              });
              $("#normalName").val("");
              $("#normalName").focus();
            }
          },
        });
      }
    });
    $("#normalEmail").blur(function () {
      if ($("#normalEmail").val() != "") {
        $.ajax("/users/checknemail", {
          type: "POST",
          data: { normalEmail: $("#normalEmail").val() },
          success: function (result) {
            if (result.status == "error") {
              alert("Somethings Was Wrong!");
            } else if (result.status == "have") {
              // alert("Email is already in use,try another email")
              Swal.fire({
                title:
                  "ရှိပြီးသား အီးမေးလ် ဖြစ်ပါသည်။တခြား အီးမေးလ် အသုံးပြုပါ။",
                showClass: {
                  popup: "animate__animated animate__fadeInDown",
                },
                hideClass: {
                  popup: "animate__animated animate__fadeOutUp",
                },
              });
              $("#normalEmail").val("");
              $("#normalEmail").focus();
            }
          },
        });
      }
    });

    function singupErrorMessage() {
      var error = document.getElementById("error");
      if (
        /[0-9,~!@#$%^&*()-+,၁-၉]/.test(
          document.getElementById("normalName").value
        )
      ) {
        // Changing content and color of content
        // error.textContent = "Please enter your name";
        // error.style.color = "red";
        error.innerHTML =
          "<img src='https://cdn4.iconfinder.com/data/icons/set-1/32/__23-512.png' style='width:20px; 'height:10px;'>" +
          "<span style='color: red;'>" +
          " စာသားသီးသန့်သာ ထည့်ရန်</span>";
        $("#normalName").val("");
        $("#normalName").focus();
      } else {
        error.textContent = "";
      }
    }
  </script>
</html>
