<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../stylesheets/bootstrap.css" rel="stylesheet" />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <style>
      .bta1212 {
        background-color: #14bf98;
        border: #14bf98;
      }
    </style>
  </head>
  <body>
    <section class="vh-150" style="background-color: #113448">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img
                    src="/images/normalLogin.svg"
                    alt="login form"
                    class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem"
                  />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form action="/users/nlogin" method="post" id="myform">
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="h1 fw-bold mb-0" style="color: #14bf98"
                          >TRAVEL BAG</span
                        >
                      </div>

                      <h5
                        class="fw-normal mb-3 pb-3"
                        style="letter-spacing: 1px"
                      >
                        အကောင့်ဝင်ပါ
                      </h5>
                      <div class="form-outline mb-4">
                        <label class="form-label" for="email">အီးမေးလ်</label>
                        <input
                          type="email"
                          id="normalEmail"
                          name="normalEmail"
                          class="form-control form-control-lg"
                          placeholder="အီးမေးလ်"
                          required
                        />
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="password"
                          >စကားဝှက်</label
                        >
                        <input
                          type="password"
                          id="normalPassword"
                          name="normalPassword"
                          class="form-control form-control-lg"
                          placeholder="စကားဝှက်"
                          required
                        />
                      </div>
                      <div class="form-check mb-2">
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          value=""
                          id="rememberMe"
                        />
                        <label class="form-check-label" for="rememberMe">
                          မှတ်ထားရန်
                        </label>
                      </div>

                      <div class="pt-1 mb-4">
                        <button
                          class="btn btn-dark bta1212 btn-lg btn-block"
                          type="submit"
                        >
                          အကောင့်ဝင်မည်
                        </button>
                      </div>

                      <a class="small text-muted" href="/users/nforgetpassword"
                        >သင့်စကားဝှက်မေ့နေပါသလား?</a
                      ><br /><br />
                      <p class="mb-5 pb-lg-2" style="color: #393f81">
                        အကောင့်မရှိသေးဘူးလား?
                        <a href="/users/nsignup" style="color: #393f81"
                          >အကောင့်အသစ်ပြုလုပ်ရန်</a
                        >
                      </p>
                      <a href="#!" class="small text-muted">Terms of use.</a>
                      <a href="#!" class="small text-muted">Privacy policy</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script> -->
  <script>
    $("#rememberMe").click(function () {
      if ($("#rememberMe").prop("checked")) {
        Cookies.set("normalEmail", $("#normalEmail").val());
        Cookies.set("normalPassword", $("#normalPassword").val());
      } else {
        Cookies.remove("normalEmail");
        Cookies.remove("normalPassword");
      }
    });
    if (Cookies.get("normalEmail")) {
      $("#normalEmail").val(Cookies.get("normalEmail"));
      $("#normalPassword").val(Cookies.get("normalPassword"));
      $("#rememberMe").prop("checked", "true");
    }
    // $("#subBtn").click(() => {
    //   $("#myform").validate({
    //     submitHandler: function (form) {
    //       // some other code
    //       // maybe disabling submit button
    //       // then:
    //       $(form).submit();
    //     },
    //   });
    // });
  </script>
</html>
