<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../stylesheets/bootstrap.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <style>
      .bta1213 {
        background-color: #14bf98;
        border: #14bf98;
      }
      .input-box {
        position: relative;
        padding-top: 23px;
        padding-bottom: 23px;
      }

      .show_hide {
        padding: 15px 15px;
        background-color: #efefef;
        border: 1px solid darkgray;
      }
      .indicator.active {
        display: block;
      }
      .indicator {
        margin-top: 10px;
        display: none;
      }
      .indicator .icon-text {
        display: flex;
        align-items: center;
      }
      .error_icon {
        margin-right: 10px;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <section class="vh-150" style="background-color: #113448">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img
                    src="/images/normalSignup.svg"
                    alt="login form"
                    class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem"
                  />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form action="/users/nsignup" method="post">
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="h1 fw-bold mb-0" style="color: #14bf98"
                          >TRAVEL BAG</span
                        >
                      </div>

                      <h5
                        class="fw-normal mb-3 pb-3"
                        style="letter-spacing: 1px"
                      >
                        အကောင့်ပြုလုပ်ပါ
                      </h5>

                      <% if(typeof message !== 'undefined'){ %>
                      <div
                        class="alert alert-success alert-dismissible fade show"
                      >
                        <button
                          type="button"
                          class="close"
                          data-dismiss="alert"
                        >
                          &times;
                        </button>
                        <h2
                          style="
                            font-weight: lighter;
                            font-size: small;
                            line-height: 1.6;
                          "
                        >
                          <%= message %>
                        </h2>
                      </div>
                      <% } %>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="name">အမည်</label>
                        <input
                          type="text"
                          name="normalName"
                          id="normalName"
                          class="form-control form-control-lg"
                          placeholder="အမည်"
                          required
                        />
                        <span id="error"></span>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="email">အီးမေးလ်</label>
                        <input
                          type="email"
                          name="normalEmail"
                          id="normalEmail"
                          class="form-control form-control-lg"
                          placeholder="အီးမေးလ်"
                          placeholder="စကားဝှက် "
                          required
                        />
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="password"
                          >စကားဝှက်</label
                        >
                        <div class="input-group" id="show_hide_password">
                          <input
                            class="form-control input-box"
                            type="password"
                            id="normalPassword"
                            name="normalPassword"
                            class="normalPassword"
                            placeholder="စကားဝှက်"
                            required
                          />
                          <div class="input-group-addon">
                            <i class="fa fa-eye-slash show_hide"></i>
                          </div>
                        </div>
                        <div>
                          <div class="indicator">
                            <div class="icon-text">
                              <i
                                class="fas fa-exclamation-circle error_icon"
                              ></i>
                              <h6 class="text"></h6>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="pt-1 mb-4">
                        <button
                          class="btn btn-dark bta1213 btn-lg btn-block"
                          type="submit"
                          onclick="singupErrorMessage()"
                        >
                          အကောင့်ပြုလုပ်မည်
                        </button>
                      </div>
                      <a href="#!" class="small text-muted">Terms of use.</a>
                      <a href="#!" class="small text-muted">Privacy policy</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/pShow_Hide.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $("#normalName").blur(function () {
      if ($("#normalName").val() != "") {
        $.ajax("/users/checkname", {
          type: "POST",
          data: { normalName: $("#normalName").val() },
          success: function (result) {
            if (result.status == "error") {
              alert("Somethings Was Wrong!")
            } else if (result.status == "username have") {
              Swal.fire({
                title: "ရှိပြီးသား အမည် ဖြစ်ပါသည်။ တခြား အမည် အသုံးပြုပါ။",
                showClass: {
                  popup: "animate__animated  animate__fadeInDown",
                },
                hideClass: {
                  popup: "animate__animated animate__fadeOutUp",
                },
              })
              $("#normalName").val("")
              $("#normalName").focus()
            }
          },
        })
      }
    })
    $("#normalEmail").blur(function () {
      if ($("#normalEmail").val() != "") {
        $.ajax("/users/checknemail", {
          type: "POST",
          data: { normalEmail: $("#normalEmail").val() },
          success: function (result) {
            if (result.status == "error") {
              alert("Somethings Was Wrong!")
            } else if (result.status == "have") {
              Swal.fire({
                title:
                  "ရှိပြီးသား အီးမေးလ် ဖြစ်ပါသည်။ တခြား အီးမေးလ် အသုံးပြုပါ။",
                showClass: {
                  popup: "animate__animated animate__fadeInDown",
                },
                hideClass: {
                  popup: "animate__animated animate__fadeOutUp",
                },
              })
              $("#normalEmail").val("")
              $("#normalEmail").focus()
            }
          },
        })
      }
    })

    function singupErrorMessage() {
      var error = document.getElementById("error")
      if (
        /[0-9,~!@#$%^&*()-+,၁-၉]/.test(
          document.getElementById("normalName").value
        )
      ) {
        error.innerHTML =
          "<img src='https://cdn4.iconfinder.com/data/icons/set-1/32/__23-512.png' style='width:20px; 'height:10px;'>" +
          "<span style='color: red;'>" +
          " စာသားသီးသန့်သာ ထည့်ရန်</span>"
        $("#normalName").val("")
        $("#normalName").focus()
      } else {
        error.textContent = ""
      }
    }
  </script>
</html>
