<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
      crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link
      rel="stylesgeet"
      href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css"
    />
    <link rel="stylesheet" href="/stylesheets/normalUsersProfile.css" />
  </head>

  <body class="profile-page">
    <div
      class="page-header header-filter"
      data-parallax="true"

    ></div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile">
                <div class="avatar">
                  <img
                    src="<%= user.normalImage %>"
                    alt="Circle Image"
                    class="img-raised rounded-circle img-fluid"
                  />
                </div>
                <div class="name">
                  <h3 class="title"><%= user.normalName%></h3>
                  <h6><b>Your Email</b> <p style="color: #14bf98;"><%= user.normalEmail%></p></h6>

                </div>
              </div>
            </div>
          </div>
          <div class="description text-center">
            <p>
              ချောင်းသာမြို့ သည် ဧရာဝတီတိုင်းဒေသကြီး၊ ပုသိမ်မြို့နယ်တွင် တည်ရှိသော ကမ်းခြေမြို့တစ်မြို့ ဖြစ်သည်။ ချောင်းသာကမ်းခြေတည်ရှိသော မြို့ ဖြစ်သည်။ ချောင်းသာရွာနှင့် အောင်မင်္ဂလာကျွန်းရွာတို့ကို စုစည်း၍ ချောင်းသာမြို့အဖြစ် အဆင့်တိုးမြှင့်ခဲ့သည်။
            </p>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile-tabs">
                <ul
                  class="nav nav-pills nav-pills-icons justify-content-center"
                  role="tablist"
                >
                  <li class="nav-item">
                    <!-- for active(class="active") -->
                    <a
                      class="nav-link " 
                      href="/dashboard" 
                      style="color: #14bf98;"
                    >
                      <i class="fas fa-solid fa-house"></i>
                      ပင်မ
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="/users/normal-change-password"
                      style="color: #14bf98;"
                    >
                      <i class="fa-solid fa-key"></i>
                        စကားဝှက်ပြောင်းရန်
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="/users/logout"
                      style="color: #14bf98;"
                    >
                      <i class="fa-solid fa-right-to-bracket"></i>
                      အကောင့်ထွက်ရန်
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer text-center">
      <p>
        အသုံးပြုသူများ စိတ်ချမ်းသာစေရန်
        <a href="/" style="color: #14bf98;"><b><i>Travel Bag</i></b></a>
        မှ ဝန်ဆောင်မှုအပြည့်ပေးထားပါသည်။
      </p>
    </footer>

  </body>
</html>
