<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>

    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/forgetpassword.css" />
  </head>
  <body>
    <!-- Forgot Password Form Start -->
    <div class="row justify-content-center wrapper" id="forgot-box">
      <div class="col-lg-10 my-auto myShadow">
        <div class="row">
          <div class="col-lg-7 bg-white p-4">
            <h1 class="text-center font-weight-bold text11">
              စကားဝှက်ပြောင်းလဲရန်!
            </h1>
            <hr class="my-3" />

            <% if(typeof message !== 'undefined'){ %>
            <h2
              style="
                color: #5b6b01;
                margin: 50px 20px 0px 120px;
                font-weight: bolder;
              "
            >
              <%= message %>
            </h2>
            <% } %>
          </div>
          <div
            class="col-lg-5 d-flex flex-column justify-content-center myColor p-4"
          >
            <h1 class="text-center font-weight-bold text-white">
              စကားဝှက်မေ့နေပါသလား?
            </h1>
            <hr class="my-4 bg-warning myHr" />
            <a
              href="/users/nforgetpassword"
              class="justify-content-end text-center m-4"
              ><button
                class="btn btn-outline-light btn-lg font-weight-bolder myLinkBtn align-self-center"
                id="back-link"
              >
                နောက်သို့
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Forgot Password Form End -->
  </body>
</html>
